@import url("https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900&display=swap");

@import "~@creativecommons/vocabulary/tokens/tokens.styl"

.vocab.font
  .demo
    // Fira Sans used for demo as it is the only font I know to have all weights
    font-family 'Fira Sans', sans-serif
    font-size $size-large

  code
    font-size 13px
