@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/media.styl"

.spaces
  display: grid;
  align-content: stretch;
  justify-content: left;

  grid-column-gap $space-large
  grid-row-gap $space-large

  +phone-only()
    grid-template-columns 1fr

  +tablet-portrait-up()
    grid-template-columns 1fr 1fr

  +tablet-landscape-up()
    grid-template-columns 1fr 1fr 1fr 1fr

  +desktop-up()
    grid-template-columns 1fr 1fr 1fr 1fr

  +big-desktop-up()
    grid-template-columns 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
