@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"
@import "~@/styles/brands.styl"
@import "~@/styles/tones.styl"
@import "~@/styles/indications.styl"
@import "~@/styles/font-reset.styl"
@import "~@/styles/sizes.styl"

.vocab.select-field
  // Color palette

  --select-field-primary $color-tone-grey-dark

  &.inverted
    --select-field-primary $color-tone-grey-light

  brands('--select-field-primary')
  colors('--select-field-primary')
  tones('--select-field-primary')
  indications('--select-field-primary')

  --select-field-secondary $color-tone-white

  &.inverted
    --select-field-secondary $color-tone-black

  --select-field-overlay $color-overlay-white-low

  &.inverted
    --select-field-overlay $color-overlay-black-low

  // Color

  --select-field-background-color var(--select-field-primary)
  --select-field-text-color var(--select-field-secondary)
  --select-field-border-color var(--select-field-primary)
  --select-field-background-overlay linear-gradient(
    var(--select-field-overlay),
    var(--select-field-overlay)
  )

  &.slightly-simple,
  &.extremely-simple
    --select-field-background-color transparent
    --select-field-text-color var(--select-field-primary)

    &:hover,
    &:focus-within
      --select-field-background-color var(--select-field-primary)
      --select-field-text-color var(--select-field-secondary)

  &.extremely-simple
    --select-field-border-color transparent

  // Cursor

  --select-field-cursor pointer

  &.disabled
    --select-field-cursor not-allowed

  &.read-only
    --select-field-cursor default

  // Border radius

  --select-field-border-radius $radius-zero

  &.slightly-rounded
    --select-field-border-radius $rradius-normal

  &.completely-rounded
    --select-field-border-radius $radius-pill

  // Add-on space

  --select-field-addons-space 1.25em

  // Rules

  position relative

  display inline-flex
  flex-direction row
  align-items center

  color var(--select-field-text-color)

  font-reset()
  sizes('font-size')
  font-weight $weight-bold

  white-space nowrap

  cursor var(--select-field-cursor)

  background-color var(--select-field-background-color)

  border 2px solid var(--select-field-border-color)

  border-radius var(--select-field-border-radius)
  overflow hidden

  transition-property color, background-color
  transition-duration $duration-shortest

  // Children

  & > .field
    appearance none

    font inherit
    color inherit
    background-color transparent

    min-width 10em

    padding $space-normal
    padding-right 'calc(2 * %s + 1.25em)' % $space-normal

    border transparent

    &.has-addons
      padding-left 'calc(2 * %s + var(--select-field-addons-space))' % $space-normal

    // Stying options only works in Chrome
    & > option
      color initial

      &[disabled]
        opacity 0.6

  & > .addons,
  & > .caret
    position absolute

    display flex
    flex-direction column
    justify-content center
    align-items center

    padding $space-normal

    pointer-events none

  & > .addons
    left $space-zero

  & > .caret
    right $space-zero

    & > .icon-group > .icon
      transform scale(0)

      transition transform $duration-shortest

      &.active
        transform scale(1)

  // States

  &:hover
    background-image var(--select-field-background-overlay)

  &:focus-within
    background-image none

  // Styles

  &.disabled
    opacity 0.6

    text-decoration line-through

    background-image none
