@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/font-reset.styl"
@import "~@/styles/colors.styl"
@import "~@/styles/sizes.styl"

.vocab.select-field
  appearance none

  --select-color: $color-tone-grey-dark
  colors('--select-color')

  sizes('font-size')

  color white
  font-reset()
  font-weight $weight-bold
  white-space nowrap

  background-color var(--select-color)

  display inline-flex
  flex-direction row
  align-items center

  position relative

  border 1px solid var(--select-color)

  transition 0.25s background-color, 0.25s background-image, 0.25s color

  .field
    appearance none
    cursor pointer

    font inherit
    color inherit
    background-color transparent

    padding $space-normal
    padding-right 'calc(2 * %s + 1.25em)' % $space-normal

    border transparent

    &.has-addons
      padding-left 'calc(2 * %s + 1.25em)' % $space-normal

  .addons
    position absolute
    left $space-zero

  .caret
    position absolute
    right $space-zero

  .addons,
  .caret
    pointer-events none

    display flex
    flex-direction column
    justify-content center
    align-items center

    padding $space-normal

  &:hover
    background-image linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.15) 0%,
            rgba(255, 255, 255, 0.15) 100%
    )

  &.basic
    color var(--select-color)
    background-color transparent

    &:hover
      color $color-tone-white
      background-color var(--select-color)

  &.negative
    --select-color $color-context-negative

  &.positive
    --select-color $color-context-positive

  &.disabled
    --select-color $color-tone-near-white

    color rgb(146, 149, 149)

    .field
      cursor auto

    &:hover
      background-image none
