# PRs to CC Vocabulary will need review from the Vocabulary and the frontend team
*  @creativecommons/ct-vocabulary-maintainers @creativecommons/ct-vocabulary-core-committers @creativecommons/frontend
