# https://help.github.com/en/articles/about-code-owners
# PRs to CC Vocabulary will need review from the Vocabulary team or the CC staff technology team
* @creativecommons/technology
* @creativecommons/ct-vocabulary-maintainers @creativecommons/ct-vocabulary-core-committers
