
/* Slightly dark shade of red */
$color-red-dark = rgb(145, 43, 16)
/* Base shade of sand */
$color-sand = rgb(177, 162, 74)
/* Base shade of negative context */
$color-context-negative = rgb(209, 56, 20)
/* Slightly light shade of orange */
$color-orange-light = rgb(255, 216, 158)
/* Darker shade of sand */
$color-sand-darker = rgb(68, 65, 31)
/* Darker shade of olive */
$color-olive-darker = rgb(42, 55, 47)
/* Lightest grey, near white */
$color-tone-near-white = rgb(237, 237, 238)
/* 85% opaque shade of white, hint of color on white */
$color-overlay-white-high = rgba(255, 255, 255, 0.85)
/* Slightly light shade of magenta */
$color-magenta-light = rgb(247, 178, 204)
/* Slightly dark shade of yellow */
$color-yellow-dark = rgb(176, 154, 17)
/* Slightly dark grey */
$color-tone-grey-dark = rgb(99, 100, 102)
/* Base shade of positive context */
$color-context-positive = rgb(152, 200, 7)
/* Slightly light shade of intermediate context */
$color-context-probably-light = rgb(255, 243, 162)
/* Slightly dark shade of intermediate context */
$color-context-probably-dark = rgb(176, 154, 17)
/* Slightly light shade of yellow */
$color-yellow-light = rgb(255, 243, 162)
/* Base shade of green */
$color-green = rgb(152, 200, 7)
/* Slightly light grey */
$color-tone-grey-light = rgb(167, 169, 172)
/* Slightly dark shade of magenta */
$color-magenta-dark = rgb(123, 27, 83)
/* 15% opaque shade of black, overlay makes darker */
$color-overlay-black-low = rgba(0, 0, 0, 0.15)
/* Darker shade of purple */
$color-purple-darker = rgb(66, 25, 79)
/* Base shade of orange */
$color-orange = rgb(251, 121, 40)
/* Slightly dark shade of orange */
$color-orange-dark = rgb(238, 91, 50)
/* Slightly light shade of red */
$color-red-light = rgb(250, 180, 153)
/* Darker shade of blue */
$color-blue-darker = rgb(16, 37, 72)
/* Darker shade of red */
$color-red-darker = rgb(90, 28, 14)
/* Slightly light shade of blue */
$color-blue-light = rgb(191, 206, 234)
/* 85% opaque shade of black, hint of color on black */
$color-overlay-black-high = rgba(0, 0, 0, 0.85)
/* Base shade of magenta */
$color-magenta = rgb(182, 43, 110)
/* Pure black color */
$color-tone-black = rgb(0, 0, 0)
/* Slightly dark shade of green */
$color-green-dark = rgb(1, 166, 53)
/* Base shade of intermediate context */
$color-context-probably = rgb(237, 216, 18)
/* Slightly light shade of purple */
$color-purple-light = rgb(214, 180, 214)
/* Base shade of yellow */
$color-yellow = rgb(237, 216, 18)
/* Slightly dark shade of positive context */
$color-context-positive-dark = rgb(1, 166, 53)
/* Darker shade of yellow */
$color-yellow-darker = rgb(78, 73, 23)
/* Darker grey */
$color-tone-grey-darker = rgb(57, 56, 57)
/* 15% opaque shade of white, overlay makes lighter */
$color-overlay-white-low = rgba(255, 255, 255, 0.15)
/* Lighter grey */
$color-tone-grey-lighter = rgb(220, 221, 222)
/* Slightly dark shade of negative context */
$color-context-negative-dark = rgb(145, 43, 16)
/* Slightly dark shade of sand */
$color-sand-dark = rgb(109, 97, 24)
/* Base shade of red */
$color-red = rgb(209, 56, 20)
/* Darker shade of magenta */
$color-magenta-darker = rgb(79, 16, 53)
/* Slightly dark shade of olive */
$color-olive-dark = rgb(67, 89, 74)
/* Slightly light shade of olive */
$color-olive-light = rgb(224, 228, 225)
/* Base shade of blue */
$color-blue = rgb(67, 116, 183)
/* Slightly light shade of sand */
$color-sand-light = rgb(235, 224, 178)
/* Base shade of purple */
$color-purple = rgb(150, 40, 198)
/* Slightly light shade of negative context */
$color-context-negative-light = rgb(250, 180, 153)
/* Pure white color */
$color-tone-white = rgb(255, 255, 255)
/* Darker shade of orange */
$color-orange-darker = rgb(164, 104, 16)
/* Darkest grey, near black */
$color-tone-near-black = rgb(18, 21, 19)
/* Darker shade of green */
$color-green-darker = rgb(61, 80, 36)
/* Slightly light shade of positive context */
$color-context-positive-light = rgb(228, 235, 160)
/* Slightly dark shade of purple */
$color-purple-dark = rgb(102, 41, 120)
/* Slightly light shade of green */
$color-green-light = rgb(228, 235, 160)
/* Base shade of olive */
$color-olive = rgb(171, 184, 175)
/* Slightly dark shade of blue */
$color-blue-dark = rgb(33, 65, 132)
/* Font size for footnotes */
$size-small = 0.7937rem
/* Font size for normal copy */
$size-normal = 1.0000rem
/* Font size for H6 and equivalent */
$size-big = 1.2599rem
/* Font size for H5 and equivalent */
$size-large = 1.5874rem
/* Font size for H4 and equivalent */
$size-huge = 2.0000rem
/* Font size for H3 and equivalent */
$size-enormous = 2.5198rem
/* Font size for H2 and equivalent */
$size-gigantic = 3.1748rem
/* Font size for H1 and equivalent */
$size-mega = 4.0000rem
/* Extremely thinner-than-normal font weight */
$weight-thin = 100
/* Extremely bolder-than-normal font weight */
$weight-heavy = 900
/* Much bolder-than-normal font weight */
$weight-bold = 700
/* Much thinner-than-normal font weight */
$weight-extralight = 200
/* Normal font weight */
$weight-normal = 400
/* Quite bolder-than-normal font weight */
$weight-extrabold = 800
/* Thinner-than-normal font weight */
$weight-light = 300
/* Bolder-than-normal font weight */
$weight-semibold = 700
/* Slightly bolder-than-normal font weight */
$weight-medium = 500
/* Normal spacing in em units */
$space-normal = 0.5em
/* No spacing at all */
$space-zero = 0
/* More spacing in em units */
$space-large = 1em
/* Even more spacing in rem units */
$rspace-larger = 2rem
/* Very less spacing in rem units */
$rspace-smaller = 0.125rem
/* Less spacing in em units */
$space-small = 0.25em
/* Even more spacing in em units */
$space-larger = 2em
/* More spacing in rem units */
$rspace-large = 1rem
/* Normal spacing in rem units */
$rspace-normal = 0.5rem
/* Very less spacing in em units */
$space-smaller = 0.125em
/* Less spacing in rem units */
$rspace-small = 0.25rem
/* More rounded radius in rem units */
$rradius-large = 0.5rem
/* Normal radius in rem units */
$rradius-normal = 0.25rem
/* Makes pill from rectangle, circle from square */
$radius-pill = 999px
/* Less rounded radius in rem units */
$rradius-small = 0.125rem
/* More rounded radius in em units */
$radius-large = 0.5em
/* Makes ellipse from rectangle, circle from square */
$radius-ellipse = 50%
/* Normal radius in em units */
$radius-normal = 0.25em
/* Makes 90° sharp cuts, no radius at all */
$radius-zero = 0
/* Less rounded radius in em units */
$radius-small = 0.125em
/* Object appears less raised */
$shadow-subtle = "0 1px 1px 0"
/* Object appears raised */
$shadow-normal = "0 2px 2px 0"
/* Object appears more raised */
$shadow-pronounced = "0 3px 3px 0"
/* Shortest time duration, barely noticeable */
$duration-shortest = 0.25s
/* Short time duration, noticeable */
$duration-short = 0.5s
/* Normal time duration, observable */
$duration-normal = 1s
/* Long time duration, pronouced */
$duration-long = 2s
/* Longest time duration, very pronounced */
$duration-longest = 4s
