@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"
@import "~@/styles/font-reset.styl"
@import "~@/styles/sizes.styl"

.vocab.switch-field
  // Color palette

  --switch-field-primary $color-tone-black

  &.inverted
    --switch-field-primary $color-tone-white

  colors('--switch-field-primary')

  &.positive-indicating.positive-indicating
    --switch-field-primary $color-context-positive

  &.probably-indicating.probably-indicating
    --switch-field-primary $color-context-probably

  &.negative-indicating.negative-indicating
    --switch-field-primary $color-context-negative

  &.conditional-indicating.conditional-indicating
    --switch-field-primary $color-context-positive

  --switch-field-secondary $color-tone-grey-dark

  &.inverted
    --switch-field-secondary $color-tone-grey-light

  &.positive-indicating.positive-indicating
    --switch-field-secondary $color-context-positive-light

  &.probably-indicating.probably-indicating
    --switch-field-secondary $color-context-probably-light

  &.negative-indicating.negative-indicating
    --switch-field-secondary $color-context-negative-light

  &.conditional-indicating.conditional-indicating
    --switch-field-secondary $color-context-negative

  --switch-field-tertiary $color-tone-white

  &.inverted
    --switch-field-tertiary $color-tone-black

  // Color

  --switch-field-off-background-color var(--switch-field-secondary)
  --switch-field-on-background-color var(--switch-field-primary)

  --switch-field-handle-color var(--switch-field-tertiary)
  --switch-field-text-color var(--switch-field-tertiary)

  &.positive-indicating.positive-indicating
    &:not(.checked)
      --switch-field-text-color $color-context-positive-dark

  &.probably-indicating.probably-indicating
    &:not(.checked)
      --switch-field-text-color $color-context-probably-dark

  &.negative-indicating.negative-indicating
    &:not(.checked)
      --switch-field-text-color $color-context-negative-dark

  // Cursor

  --switch-field-cursor pointer

  &.disabled
    --switch-field-cursor not-allowed

  &.read-only
    --switch-field-cursor default

  // Border radius

  --switch-field-border-radius 0

  &.slightly-rounded
    --switch-field-border-radius $radius-normal

  &.completely-rounded
    --switch-field-border-radius $radius-pill

  // Rules

  position relative

  display inline-flex
  justify-content center
  align-items center

  vertical-align middle

  font-reset()
  sizes('font-size')

  cursor var(--switch-field-cursor)

  background-color var(--switch-field-off-background-color)

  width 3em
  height 1.25em

  border-width $space-small
  border-style solid
  border-color @background-color
  border-radius calc(1.25 * var(--switch-field-border-radius))

  transition-property background-color, border-color
  transition-duration $duration-shortest

  // Children

  &::after
    content ''

    position absolute
    left 0

    background-color var(--switch-field-handle-color)

    width 1.25em
    height 1.25em

    border-radius var(--switch-field-border-radius)

    transition-property left, transform
    transition-duration $duration-shortest
    transition-timing-function cubic-bezier(0.85, 1.15, 0.85, 1.15)

  & > .symbol
    position absolute

    color var(--switch-field-text-color)

    user-select none

    & > .text
      text-align center

      width 1.25em

    // States

    &.off
      right 0

    &.on
      left 0

  // States

  &.checked
    background-color var(--switch-field-on-background-color)

    border-color @background-color

    &::after
      left calc(100% - 1.25em)

  &.disabled,
  &.read-only
    &.checked
      & > .symbol.off
        opacity 0

    &:not(.checked)
      & > .symbol.on
        opacity 0

  &.disabled
    opacity 0.6

  &.read-only
    &::after
      opacity 0.6
