@import 'true';
@import '../src/styles/vocabulary.scss';

@import './unit/dummy.scss';

@include it('creates classes based on each color') {
  @include assert {
    @include output {
      @include color-classes;
    }

    @include expect {
      .has-background-tomato {
        background-color: #ed592f;
      }

      .has-text-tomato,
      .has-color-tomato {
        color: #ed592f;
      }

      .has-background-orange {
        background-color: #fb7729;
      }

      .has-text-orange,
      .has-color-orange {
        color: #fb7729;
      }

      .has-background-gold {
        background-color: #efbe00;
      }

      .has-text-gold,
      .has-color-gold {
        color: #efbe00;
      }

      .has-background-forest-green {
        background-color: #04a635;
      }

      .has-text-forest-green,
      .has-color-forest-green {
        color: #04a635;
      }

      .has-background-dark-turquoise {
        background-color: #05b5da;
      }

      .has-text-dark-turquoise,
      .has-color-dark-turquoise {
        color: #05b5da;
      }

      .has-background-dark-slate-blue {
        background-color: #3c5c99;
      }

      .has-text-dark-slate-blue,
      .has-color-dark-slate-blue {
        color: #3c5c99;
      }

      .has-background-dark-slate-gray {
        background-color: #333333;
      }

      .has-text-dark-slate-gray,
      .has-color-dark-slate-gray {
        color: #333333;
      }
    }
  }
}