@import "~@/assets/tokens/tokens.styl"

.vocab.shadow
  .saucer
    background-color $color-tone-white
    min-height 3em

    border 1px solid $color-tone-grey-lighter

    margin $space-normal $space-zero

  code
    font-size 13px
