@include describe("Forms") {
  @include it("assigns common properties to form controls") {
    @include assert {
      @include output {
        @include form_control();
      }

      @include expect {
        font-family: $family-source-sans-pro;
        font-weight: 600;
        line-height: 1.3;
        border-width: 0.125rem;
      }
    }
  }
}
