@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"
@import "~@/styles/brands.styl"
@import "~@/styles/indications.styl"

.vocab.heading
  //Color

  colors('--heading-color')
  brands('--heading-color')
  indications('--heading-color')

  // Font size

  h1&
    --heading-font-size $size-mega

  h2&
    --heading-font-size $size-gigantic

  h3&
    --heading-font-size $size-enormous

  h4&
    --heading-font-size $size-huge

  h5&
    --heading-font-size $size-large

  h6&
    --heading-font-size $size-big

  // Rules

  color var(--heading-color)
  font-size var(--heading-font-size)

  margin $space-zero $space-zero $rspace-normal $space-zero
