@import "~@/assets/tokens/tokens.styl"

h1, h2, h3, h4, h5, h6
  margin $space-small $space-zero

  &.inverted
    color white

h1
  font-size $size-mega

h2
  font-size $size-gigantic

h3
  font-size $size-enormous

h4
  font-size $size-huge

h5
  font-size $size-large

h6
  font-size $size-big
