@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/colors.styl"

.vocab.heading
  margin $space-zero $space-zero $space-small $space-zero
  color inherit

  colors('color')

  &.inverted
    color $color-tone-white

  &.positive
    color $color-context-positive

  &.negative
    color $color-context-negative

h1.vocab.heading
  font-size $size-mega

h2.vocab.heading
  font-size $size-gigantic

h3.vocab.heading
  font-size $size-enormous

h4.vocab.heading
  font-size $size-huge

h5.vocab.heading
  font-size $size-large

h6.vocab.heading
  font-size $size-big
