@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/sizes.styl"
@import "~@/styles/media.styl"

.vocab.image-view
  // Color palette

  --image-view-primary $color-tone-white
  --image-view-overlay $color-overlay-black-high

  // Color

  --image-view-text var(--image-view-primary)

  --image-view-background-overlay-o2t linear-gradient(
    var(--image-view-overlay),
    transparent
  )
  --image-view-background-overlay-t2o linear-gradient(
    transparent,
    var(--image-view-overlay)
  )

  // Measurement palette

  &.small-sized
    --image-view-measurement 2em

  &.normal-sized
    --image-view-measurement 4em

  &.big-sized
    --image-view-measurement 6em

  &.large-sized
    --image-view-measurement 8em

  &.huge-sized
    --image-view-measurement 12em

  &.enormous-sized
    --image-view-measurement 16em

  &.gigantic-sized
    --image-view-measurement 24em

  &.mega-sized
    --image-view-measurement 32em

  // Measurement

  &.height-constrained,
  &.circular
    --image-view-height var(--image-view-measurement)
    --image-height var(--image-view-height)

  &.width-constrained,
  &.circular
    --image-view-width var(--image-view-measurement)
    --image-width var(--image-view-width)

  // Rules

  position relative

  display inline-block

  overflow hidden

  height var(--image-view-height)
  width var(--image-view-width)

  // Children

  & > img
    display block

    height var(--image-height)
    width var(--image-width)

    object-fit cover

  & > .addons
    position absolute

    color var(--image-view-text)

    width 100%

    transition transform $duration-shortest

    // Children

    & > .pad
      padding $space-normal

    // States

    &.top
      top 0

      background-image var(--image-view-background-overlay-o2t)

    &.bottom
      bottom 0

      background-image var(--image-view-background-overlay-t2o)

  // States

  &.hoverable
    +mouse-only()
      // Children

      & > .addons
        // States

        &.top
          transform translateY(-100%)

        &.bottom
          transform translateY(100%)

      // States

      &:hover
        // Children

        & > .addons
          // States

          &.top
            transform translateY(0)

          &.bottom
            transform translateY(0)

  &.centered
    vertical-align middle

  &.circular
    clip-path circle()

    & > .addons
      text-align center

