@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/sizes.styl"
@import "~@/styles/media.styl"

.vocab.image-view
  // Color palette

  --image-view-primary $color-tone-white
  --image-view-overlay $color-overlay-black-high

  // Color

  --image-view-text var(--image-view-primary)

  --image-view-background-overlay-o2t linear-gradient(
    var(--image-view-overlay),
    transparent
  )
  --image-view-background-overlay-t2o linear-gradient(
    transparent,
    var(--image-view-overlay)
  )

  // Rules

  position relative

  display inline-flex

  overflow hidden

  // Children

  img
    // Height

    &.small-sized
      height 2em

    &.normal-sized
      height 4em

    &.big-sized
      height 6em

    &.large-sized
      height 8em

    &.huge-sized
      height 12em

    &.enormous-sized
      height 16em

    &.gigantic-sized
      height 24em

    &.mega-sized
      height 32em

  .addons
    position absolute

    color var(--image-view-text)

    width 100%

    transition transform $duration-shortest

    // Children

    .pad
      padding $space-normal

    &.top
      top 0

      background-image var(--image-view-background-overlay-o2t)

    &.bottom
      bottom 0

      background-image var(--image-view-background-overlay-t2o)

  &.hoverable
    +mouse-only()
      .addons
        &.top
          transform translateY(-100%)

        &.bottom
          transform translateY(100%)

      &:hover
        .addons
          &.top
            transform translateY(0)

          &.bottom
            transform translateY(0)

  &.centered
    vertical-align middle

  &.rounded
    clip-path circle()

    .addons
      text-align center

    img
      object-fit cover

