@import "~@/assets/tokens/tokens.styl"

.vocab.hello
  text-align center

  .logo
    margin-top $space-larger
    margin-bottom $space-larger

    &.wordmark
      width 15rem

    &.lettermark,
    &.letterheart
      height 4rem
