$scroll-foreground = #f9d342

$color-sidebar-highlight = #f9d342
$color-sidebar-foreground = #ffffff
$color-sidebar-background = #005744
$color-sidebar-scroll-background = #005744

$color-header-highlight = #ef5455
$color-header-foreground = #f9d342
$color-header-background = #2b3252

$color-main-scroll-background = #1d1b1b

$color-table-head-background = #161b21
$color-table-head-foreground = #f9d342
$color-table-body-hover-background = #fbeaeb
$color-table-body-name-foreground = #2f3c7e
$color-table-body-type-foreground = #ec4d37

$color-footer-highlight = #f9d342
$color-footer-foreground = #4a274f
$color-footer-background = transparent
