@import "~@creativecommons/vocabulary/tokens/tokens.styl"

$color-scroll-foreground = $color-tone-grey-dark
$color-scroll-background = transparent

$color-sidebar-highlight = $color-tone-black
$color-sidebar-foreground = $color-tone-grey-darker
$color-sidebar-background = $color-tone-white

$color-main-background = $color-tone-near-white + 50%

$color-header-highlight = $color-tone-white
$color-header-foreground = $color-tone-grey-light
$color-header-background = $color-tone-near-black

$color-table-head-background = $color-tone-near-black
$color-table-head-foreground = $color-tone-white
$color-table-body-hover-background = $color-tone-white
$color-table-body-name-foreground = #2f3c7e
$color-table-body-type-foreground = #ec4d37
$color-table-body-required-foreground = #4a274f

$color-footer-highlight = $color-tone-white
$color-footer-foreground = $color-tone-grey-dark
$color-footer-background = transparent

$max-content-width = 1024px
