@import "~@creativecommons/vocabulary/tokens/tokens.styl"

#example
  display inline-block

  font-size $size-small
  font-family "Fira Code", monospace
  font-weight $weight-bold

  width 100%

  padding $rspace-normal $rspace-large

  border 1px solid

#good-example
  @extend #example

  color $color-context-positive-dark

  background-color $color-context-positive-light

  border-color $color-context-positive

#bad-example
  @extend #example

  color $color-context-negative-dark

  background-color $color-context-negative-light

  border-color $color-context-negative
