@import "~@creativecommons/vocabulary/tokens/tokens.styl"

@import "./constants.styl"

footer[class*="rsg--footer"]
  position absolute
  bottom 0

  font-size $size-normal

  background-color $color-footer-background

  +phone-only()
    padding $space-large $space-normal

  +tablet-portrait-up()
    padding $space-large $space-larger

  & > p[class*="rsg--para"]
    color $color-footer-foreground

    margin-bottom $space-zero

    transition color, background-position
    transition-duration $duration-shortest

    & > a[class*="rsg--link"]
      color inherit

      font-weight $weight-bold

      background-image linear-gradient(
        90deg,
        transparent 50%,
        $color-footer-foreground 50%
      )
      background-size 200%

      padding $space-normal $space-small

      transition color, background-position
      transition-duration $duration-shortest

      &:hover
        color $color-footer-highlight
        background-position -100%
