@import "~@/assets/tokens/tokens.styl"

footer[class*="rsg--footer"][class*="rsg--footer"]
  opacity 0.5
  transition opacity 0.5s

  padding-left $space-large
  padding-right $space-large
  padding-top $space-large

  &:hover
    opacity 1.0
