@import "~@creativecommons/vocabulary/tokens/tokens.styl"

@import "~@creativecommons/vocabulary/styl/styles/media.styl"

@import "./constants.styl"

// Only in component Markdown files
header[class*="rsg--header"]
  +tablet-portrait-up()
    position sticky
    top 0

    // Code mirror uses 4
    z-index 5

  background-color $color-header-background

  +phone-only()
    padding $space-large $space-normal

  +tablet-portrait-up()
    padding $space-large $space-larger

  & > div[class*="rsg--wrapper"]
    align-items end

    h2
      color $color-header-highlight

      a
        transition 150ms color ease-in

        &:hover
          color $color-header-highlight
          text-decoration none

    div[class*="rsg--toolbar"]
      display none

      color $color-header-foreground

      margin-left $space-normal

      a[class*="rsg--button"]
        display block

        color inherit

        &:hover
          color $color-header-highlight

  & > div[class*="rsg--pathline"]
    color $color-header-foreground

    font-size 14px

    button[class*="rsg--button"]
      color inherit

      &:hover
        color $color-header-highlight

.cc-drawout
  header[class*="rsg--header"]
    & > div[class*="rsg--wrapper"]
      div[class*="rsg--toolbar"]
        display unset
