@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/media.styl"

header[class*="rsg--header"]
  +tablet-portrait-up()
    position sticky
    top 0
    z-index 5 // CodeMirror uses 4

  background-color $color-tone-near-white

  padding $space-large

  border-bottom 1px solid $color-tone-grey-light

  div[class*="rsg--toolbar"]
    margin-left $space-normal
