@import "~@creativecommons/vocabulary/tokens/tokens.styl"

@import "~@creativecommons/vocabulary/styl/styles/media.styl"

@import "./constants.styl"

div[class*="rsg--root"][class*="rsg--hasSidebar"]
  & > main[class*="rsg--content"]
    // Rules

    position relative

    min-height 100vh

    padding-left $space-zero
    padding-right $space-zero
    padding-top $space-zero
    padding-bottom $space-zero

    background-color $color-main-background

    & > section[class*="rsg--root"]
      & > section[class*="rsg--root"]
        margin-bottom 0

        // For non-component Markdown files like README.md,
        // this is not contained in a <header> tag.
        & > div[class*="rsg--wrapper"]
          display none

          & > div[class*="rsg--toolbar"]
            padding-top $space-normal

            margin-left $space-larger

        & > div > div[id*="-container"][class*="rsg--root"]
          display inline-block
          min-width 100%

          // Only in component Markdown files
          & > div[class*="rsg--docs"]
            max-width $max-content-width

            +phone-only()
              padding-left $space-normal
              padding-right $space-normal

            +tablet-portrait-up()
              padding-left $space-larger
              padding-right $space-larger

          // Only in component Markdown files
          & > div[class*="rsg--tabs"]
            +phone-only()
              display none

            max-width $max-content-width

            +tablet-portrait-up()
              padding-left $space-larger
              padding-right $space-larger

          // Only in component Markdown files
          & > article[class*="rsg--root"]
            // Nothing for now; placeholder rule
            visibility visible

        // Only in non-component Markdown files
        & > article[class*="rsg--root"]
          padding-top $space-large
          padding-bottom 'calc(4em + %s)' % $space-normal

        // Common to both component and non-component Markdown files
        article[class*="rsg--root"]
          max-width $max-content-width

          +phone-only()
            padding-left $space-normal
            padding-right $space-normal

          +tablet-portrait-up()
            padding-left $space-larger
            padding-right $space-larger

          & > div[class*="rsg--root"]
            a[title="Open isolated"]
              display none

  &.cc-drawout
    padding-left 0

    & > main[class*="rsg--content"]
      & > section[class*="rsg--root"]
        & > section[class*="rsg--root"]
          & > div[class*="rsg--wrapper"]
            display unset
