@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/media.styl"

main[class*="rsg--content"]
  padding-left $space-zero
  padding-right $space-zero
  padding-top $space-zero

  div[class*="rsg--docs"],
  div[class*="rsg--tabs"]
    padding-left $space-large
    padding-right $space-large

  article[class*="rsg--root"]
    padding-left $space-large
    padding-right $space-large

    & > div[class*="rsg--root"]
      a[title="Open isolated"]
        display none

  div[class*="rsg--wrapper"]
    h1
      margin-left $rspace-large

      & ~ div[class*="rsg--toolbar"]
        display none

  div[id*="-container"][class*="rsg--root"]
    +tablet-portrait-up()
      display inline-block

    min-width 100%

  div[class*="rsg--root"]
    & > div
      & > p[class*="rsg--para"]
        margin-left $space-large
