@import "~@creativecommons/vocabulary/tokens/tokens.styl"

div[class*="rsg--preview"]
  color $color-tone-black

  background-color $color-tone-white

  max-width calc(100vw - 1em)
  overflow-x scroll

  padding-left $space-small
  padding-right $space-small

  border 1px solid $color-tone-grey-lighter

  &.i18n-enabled
    div.actual-preview > div.vocab.locale
      display block

      margin-bottom $space-normal

  &.no-padding
    padding-left $space-zero
    padding-right $space-zero

  &.dark-background
    color $color-tone-white

    background-color $color-tone-black

  &.enlarged-text
    font-size 2rem

  &.contain-content
    // Width

    +phone-only()
      --preview-width 'calc(100% - 2 * %s + 12px)' % $space-normal

    +tablet-portrait-only()
      --preview-width 'calc(600px - 2 * %s + 12px)' % $space-normal

    +tablet-landscape-only()
      --preview-width 'calc(900px - 2 * %s - 17px + 12px)' % $space-normal

    +desktop-only()
      --preview-width 'calc(1200px - 2 * %s - 17px + 12px)' % $space-normal

    +big-desktop-up()
      --preview-width 'calc(1800px - 2 * %s - 17px + 12px)' % $space-normal

    // Rules
    width var(--preview-width)

div.actual-preview > div.vocab.locale
  display none
