@import "~@/assets/tokens/tokens.styl"

div[class*="rsg--preview"]
  border-top none
  border-right none
  border-bottom 1px solid $color-tone-grey-lighter
  border-left none

  div.actual-preview > div.vocab.locale
    display none

  &.i18n-enabled
    div.actual-preview > div.vocab.locale
      display block
      margin-bottom $space-normal

  &.no-padding
    padding-left $space-zero
    padding-right $space-zero

  &.dark-background
    background-color $color-tone-near-black

  &.enlarged-text
    font-size 2rem

  &.contain-content
    width auto
    min-width 100%

    +phone-only()
      max-width 100%
      overflow-x scroll
