@import "~@creativecommons/vocabulary/tokens/tokens.styl"

@import "~@creativecommons/vocabulary/styl/styles/media.styl"

@import "./constants.styl"

html,
div[class*="rsg--preview"]
  scrollbar-color $color-scroll-foreground $color-scroll-background
  scrollbar-width thin

  +mouse-only()
    ::-webkit-scrollbar
      width 0.5em
      height 0.5em

    ::-webkit-scrollbar-track
      background-color $color-scroll-background

    ::-webkit-scrollbar-thumb
      background-color $color-scroll-foreground
