@import "~@/assets/tokens/tokens.styl"

@import "./constants.styl"

div[class*="rsg--sidebar"][class*="rsg--sidebar"]
  z-index 6

  background-color $color-sidebar-background

  border none

  overflow-y scroll
  scrollbar-color $color-scroll-foreground $color-scroll-background
  scrollbar-width thin

  transition transform $duration-shortest

  & > div[class*="rsg--logo"]
    text-align center

    border none

    & > h1[class*="rsg--logo"]
      text-align center

      color $color-sidebar-highlight

      font-family "Libre Baskerville", monospace
      font-size $size-huge

    & > p[class*="rsg--version"]
      display none

  & > div > div
    & > nav
      & > div[class*="rsg--search"]
        & > input
          color $color-sidebar-highlight

          background-color transparent

          border 1px solid $color-tone-grey-lighter
          border-radius $radius-normal

          transition border-color $duration-shortest

          &::placeholder
            color $color-sidebar-foreground

          &:focus
            border-color $color-sidebar-highlight

            box-shadow none
            outline none

            &::placeholder
              color $color-sidebar-highlight

      & > ul
        & > li
          color $color-sidebar-foreground

          padding $space-normal $space-zero

          border-bottom 1px solid $color-tone-near-white

          margin $space-zero

          & > a[class*="rsg--heading"]
            color inherit

            font-weight $weight-bold

            outline none

            &:hover
              color $color-sidebar-highlight

          & > ul
            & > li
              color inherit

              & > a
                color inherit

                outline none

              &.cc-highlighted
                & > a
                  color $color-sidebar-highlight

                  font-weight $weight-bold

          &.cc-active
            & > a[class*="rsg--heading"]
              color $color-sidebar-highlight

          &[class*="rsg--isChild"]
            display none

        &.cc-collapsing
          & > li:not(.cc-active)
            & > ul
              +tablet-portrait-up()
                display none

  &.cc-drawout
    +tablet-portrait-up() // Sidebar only appears on portrait tablet or wider
      transform translateX(-100%)

    &.cc-visible
      transform translateX(0)
