@import "~@/assets/tokens/tokens.styl"

@import "./constants.styl"

div[class*="rsg--sidebar"][class*="rsg--sidebar"]
  z-index 6

  background-color $color-sidebar-background

  border none

  overflow-y scroll
  scrollbar-color $scroll-foreground $color-sidebar-scroll-background
  scrollbar-width thin

  & > div[class*="rsg--logo"]
    text-align center

    border none

    & > h1[class*="rsg--logo"],
    & > p[class*="rsg--version"]
      text-align center

      color $color-sidebar-highlight

      font-family "Fira Code", monospace
      font-weight $weight-bold

    & > h1[class*="rsg--logo"]
      font-size $size-large

    & > p[class*="rsg--version"]
      display inline-block

      font-size $size-small

      padding $space-normal

      border 1px solid @color
      border-radius $radius-normal

  & > div > div
    & > nav
      & > div[class*="rsg--search"]
        & > input
          color $color-sidebar-highlight

          background-color transparent
          background-image linear-gradient(
            $color-overlay-black-low,
            $color-overlay-black-low
          )

          border 1px solid transparent
          border-radius $radius-normal

          transition border-color $duration-shortest

          &::placeholder
            color $color-sidebar-foreground

          &:focus
            border-color $color-sidebar-highlight

            box-shadow none
            outline none

            &::placeholder
              color $color-sidebar-highlight

      & > ul
        & > li
          color $color-sidebar-foreground

          & > a[class*="rsg--heading"]
            color inherit

            font-weight $weight-bold

            outline none

            &:hover
              color $color-sidebar-highlight

          & > ul
            & > li
              color inherit

              & > a
                color inherit

                outline none

              &.cc-highlighted
                & > a
                  color $color-sidebar-highlight

          &.cc-active
            & > a[class*="rsg--heading"]
              color $color-sidebar-highlight

        &.cc-collapsing
          & > li:not(.cc-active)
            & > ul
              +tablet-portrait-up()
                display none
