@import "~@/assets/tokens/tokens.styl"

table[class*="rsg--table"]
  *
    font-size 14px

  tr:hover
    background-color $color-tone-near-white

  th
    color $color-tone-white
    text-transform uppercase

    background-color $color-blue-darker

    padding $space-large

  td
    padding $space-normal $space-large
