@import "~@/assets/tokens/tokens.styl"

table[class*="rsg--table"]
  *
    font-size 14px

  tr:hover
    background-color $color-tone-near-white

  th
    padding $space-large
    background-color $color-tone-grey-lighter
    text-transform uppercase

  td
    padding $space-normal $space-large
