@import "~@creativecommons/vocabulary/tokens/tokens.styl"

@import "./constants.styl"

table[class*="rsg--table"]
  & > thead
    & > tr
      background-color $color-table-head-background

      & > th
        color $color-table-head-foreground

        text-transform uppercase

        padding $space-large

  & > tbody
    & > tr
      transition background-color $duration-shortest

      & > td
        font-size 15px

        padding $space-normal $space-large

        p
          line-height 1
          margin-bottom $space-small

      &:hover
        background-color $color-table-body-hover-background
