@import "~@creativecommons/vocabulary/tokens/tokens.styl"

h1[class*="rsg--heading"]
  display none

h2[class*="rsg--heading2"]
  font-family "Libre Baskerville", monospace
  font-size $size-huge
  font-weight $weight-normal

h3[class*="rsg--heading3"]
  font-family "Fira Code", monospace
  font-size $size-large
  font-weight $weight-medium

  margin-top $space-larger

h4[class*="rsg--heading4"]
  font-family "Fira Code", monospace
  font-size $size-big
  font-weight $weight-normal

  margin-top $space-larger

blockquote[class*="rsg--blockquote"]
  padding-left $space-large

  border-left $space-normal solid $color-tone-grey-light

  margin-left $space-zero

code[class*="rsg--code"]
  vertical-align middle

  color $color-orange-dark

  font-size 14px

  padding $rspace-smaller

  border-radius $radius-normal

span[class*="rsg--smallSize"]
  font-size 15px
