@import "~@/assets/tokens/tokens.styl"

button[name*="rsg-usage"]
  display none

table[class*="rsg--table"]
  td[class*="rsg--cell"]
    code[class*="rsg--name"]
      font-size 13px
      font-weight $weight-bold

    span[class*="rsg--type"]
      font-size 13px

    p
      line-height 1.2
