@import "~@/assets/tokens/tokens.styl"

table[class*="rsg--table"]
  & > tbody
    & > tr
      & > td
        & > code[class*="rsg--name"]
          color $color-table-body-name-foreground

          font-size 14px
          font-weight $weight-bold

        & > span[class*="rsg--type"]
          color $color-table-body-type-foreground

          font-size 14px
          font-weight $weight-bold

        // Required
        & > code[class*="rsg--code"]
          color $color-table-body-required-foreground

          font-size 14px
          font-weight $weight-bold
