@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/colors.styl"

.vocab.section
  --section-color $color-tone-grey-lighter
  colors('--section-color')

  for color_group in 'blue' 'green' 'magenta' 'olive' 'orange' 'purple' 'red' 'sand' 'yellow'
    &.{color_group}
      &.top
        border-top-width 3px

      &.bottom
        border-bottom-width 3px

      &.inverted
        background-color var(--section-color)

  border 1px solid $color-tone-grey-lighter

  &.top
    border-top-color var(--section-color)

  &.bottom
    border-bottom-color var(--section-color)

  &:not(.clingy)
    padding $space-normal

  &.rounded
    border-radius $radius-large
    overflow hidden

  &.raised
    box-shadow unquote($shadow-normal) $color-tone-near-white

  &.basic
    border-color transparent

  &.inverted
    background-color $color-tone-near-black

    border-color var(--section-color)

  &.compact
    display inline-block

