@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"
@import "~@/styles/brands.styl"
@import "~@/styles/indications.styl"

.vocab.section
  // Color palette
  --section-primary $color-tone-grey-light

  &.inverted
    --section-primary $color-tone-grey-dark

  colors('--section-primary')
  brands('--section-primary')
  indications('--section-primary', 9)

  --section-secondary $color-tone-white

  &.inverted
    --section-secondary $color-tone-black

  indications('--section-secondary', 1)

  --section-tertiary $color-tone-black

  &.inverted
    --section-tertiary $color-tone-white

  indications('--section-tertiary', 9)

  --section-shadow $color-tone-grey-lighter

  &.inverted
    --section-shadow $color-tone-grey-darker

  // Color

  --section-border-color var(--section-primary)
  --section-background-color var(--section-secondary)
  --section-text-color var(--section-tertiary)

  &.extremely-simple
    --section-border-color transparent

  // Padding palette

  --section-padding $space-normal

  &.clingy
    // px is used in calc()
    --section-padding '%spx' % $space-zero

  // Padding

  --section-padding-top calc(var(--section-accented-border-width) - var(--section-border-width) + var(--section-padding))
  --section-padding-right calc(var(--section-accented-border-width) - var(--section-border-width) + var(--section-padding))
  --section-padding-bottom calc(var(--section-accented-border-width) - var(--section-border-width) + var(--section-padding))
  --section-padding-left calc(var(--section-accented-border-width) - var(--section-border-width) + var(--section-padding))

  &.top-accented
    --section-padding-top var(--section-padding)

  &.right-accented
    --section-padding-right var(--section-padding)

  &.bottom-accented
    --section-padding-bottom var(--section-padding)

  &.left-accented
    --section-padding-left var(--section-padding)

  // Border width palette

  --section-border-width 1px
  --section-accented-border-width 3px

  &.slightly-simple
    // px is used in calc()
    --section-border-width 0px

  // Border width

  --section-border-top-width var(--section-border-width)
  --section-border-right-width var(--section-border-width)
  --section-border-bottom-width var(--section-border-width)
  --section-border-left-width var(--section-border-width)

  &.top-accented
    --section-border-top-width var(--section-accented-border-width)

  &.right-accented
    --section-border-right-width var(--section-accented-border-width)

  &.bottom-accented
    --section-border-bottom-width var(--section-accented-border-width)

  &.left-accented
    --section-border-left-width var(--section-accented-border-width)

  // Border radius

  --section-border-radius 0

  &.slightly-rounded
    --section-border-radius $radius-large

  &.completely-rounded
    --section-border-radius $radius-pill

  // Rules

  color var(--section-text-color)

  word-wrap break-word

  background-color var(--section-background-color)

  box-sizing border-box

  padding-top var(--section-padding-top)
  padding-right var(--section-padding-right)
  padding-bottom var(--section-padding-bottom)
  padding-left var(--section-padding-left)

  border-top-width var(--section-border-top-width)
  border-right-width var(--section-border-right-width)
  border-bottom-width var(--section-border-bottom-width)
  border-left-width var(--section-border-left-width)
  border-style solid
  border-color var(--section-border-color)
  border-radius var(--section-border-radius)

  transition-property color, background-color, border-color
  transition-duration $duration-shortest

  &.slightly-rounded,
  &.completely-rounded
    overflow hidden

  &.raised
    box-shadow unquote($shadow-pronounced) var(--section-shadow)

  &.compact
    display inline-block

