@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/media.styl"

.vocab.tabbed
  .tabs
    .tab
      user-select none
      cursor pointer

      padding $space-large

      border-style solid

      +tablet-portrait-down()
        border-width 1px 1px 0 1px
        border-color $color-tone-grey-lighter

        &.active
          padding-left 'calc(-2px + %s)' % $space-large

          border-left 3px solid var(--tabbed-color)

      +tablet-landscape-up()
        position relative
        top 1px

        border-width 3px 1px 0 1px
        border-color transparent

        &.active
          background-color $color-tone-white

          border-color var(--tabbed-color)

  .contents
    .content
      display none

      padding $space-large

      &.active
        display block

  &.basic
    .tabs
      .tab
        +tablet-portrait-down()
          border-color transparent

          &.active
            border-left 3px solid var(--tabbed-color)

        +tablet-landscape-up()
          border-bottom 3px solid transparent

          &.active
            border-color transparent
            border-bottom 3px solid var(--tabbed-color)

  &.rounded
    .tabs
      .tab
        +tablet-portrait-down()
          &:first-of-type
            border-top-left-radius $radius-normal
            border-top-right-radius $radius-normal

        +tablet-landscape-up()
          &.active
            border-top-left-radius $radius-normal
            border-top-right-radius $radius-normal

  &.inverted
    .tabs
      .tab
        +tablet-portrait-down()
          border-color var(--tabbed-color)

        &.active
          background-color $color-tone-near-black

    +tablet-landscape-up()
      for color_group in 'blue' 'green' 'magenta' 'olive' 'orange' 'purple' 'red' 'sand' 'yellow'
        &.{color_group}
          .tabs
            .tab
              &.active
                background-color var(--tabbed-color)
