@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/brands.styl"
@import "~@/styles/colors.styl"
@import "~@/styles/indications.styl"
@import "~@/styles/list.styl"
@import "~@/styles/media.styl"

.vocab.tabbed
  // Color palette

  --tabbed-primary $color-tone-grey-light

  &.inverted
    --tabbed-primary $color-tone-grey-dark

  brands('--tabbed-primary')
  colors('--tabbed-primary')
  indications('--tabbed-primary')

  --tabbed-secondary $color-tone-white

  &.inverted
    --tabbed-secondary $color-tone-black

  --tabbed-tertiary $color-tone-black

  &.inverted
    --tabbed-tertiary $color-tone-white

  --tabbed-overlay $color-overlay-black-low

  &.inverted
    --tabbed-overlay $color-overlay-white-low

  // Color

  --tabbed-text-color var(--tabbed-tertiary)
  --tabbed-tabs-border-color var(--tabbed-primary)
  --tabbed-separator-border-color var(--tabbed-primary)

  &.extremely-simple
    --tabbed-separator-border-color transparent

  // Border width

  --tabbed-tabs-border-width 0
  --tabbed-separator-border-width 1px

  +tablet-portrait-down()
    --tabbed-tabs-border-width 1px

    &.slightly-simple,
    &.extremely-simple
      --tabbed-tabs-border-width 0

  // Rules

  color var(--tabbed-text-color)

  // Children

  & > .tabs
    bland-list()

    display flex

    +tablet-portrait-down()
      flex-direction column

    +tablet-landscape-up()
      flex-direction row

    width 100%
    box-sizing border-box

    border-top-width var(--tabbed-tabs-border-width)
    border-right-width var(--tabbed-tabs-border-width)
    border-bottom-width var(--tabbed-separator-border-width)
    border-left-width var(--tabbed-tabs-border-width)
    border-style solid
    border-top-color var(--tabbed-tabs-border-color)
    border-right-color var(--tabbed-tabs-border-color)
    border-bottom-color var(--tabbed-separator-border-color)
    border-left-color var(--tabbed-tabs-border-color)

  & > .contents
    padding-left 0
    padding-right 0

    border-top none
    border-top-left-radius $radius-zero
    border-top-right-radius $radius-zero
