@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/media.styl"

.vocab.tabbed
  // Color

  --tabbed-pane-background-color var(--tabbed-secondary)
  --tabbed-pane-border-color var(--tabbed-primary)

  --tabbed-pane-background-overlay linear-gradient(
    var(--tabbed-overlay),
    var(--tabbed-overlay)
  )

  // Border width palette

  --tabbed-pane-tab-border-width 1px
  --tabbed-pane-tab-accented-border-width 3px

  // Border width

  +tablet-portrait-down()
    --tabbed-pane-tab-top-border-width 0
    --tabbed-pane-tab-right-border-width 0
    --tabbed-pane-tab-bottom-border-width 0
    --tabbed-pane-tab-left-border-width var(--tabbed-pane-tab-accented-border-width)

  +tablet-landscape-up()
    --tabbed-pane-tab-top-border-width var(--tabbed-pane-tab-accented-border-width)
    --tabbed-pane-tab-right-border-width var(--tabbed-pane-tab-border-width)
    --tabbed-pane-tab-bottom-border-width 0
    --tabbed-pane-tab-left-border-width var(--tabbed-pane-tab-border-width)

    &.slightly-simple,
    &.extremely-simple
      --tabbed-pane-tab-top-border-width 0
      --tabbed-pane-tab-right-border-width 0
      --tabbed-pane-tab-bottom-border-width var(--tabbed-pane-tab-accented-border-width)
      --tabbed-pane-tab-left-border-width 0

  & > .tabs
    & > .tab
      +tablet-landscape-up()
        position relative
        top 1px

      user-select none
      cursor pointer

      padding $space-large

      border-top-width var(--tabbed-pane-tab-top-border-width)
      border-right-width var(--tabbed-pane-tab-right-border-width)
      border-bottom-width var(--tabbed-pane-tab-bottom-border-width)
      border-left-width var(--tabbed-pane-tab-left-border-width)
      border-style solid
      border-color transparent

      transition-property background-color, border-color
      transition-duration $duration-shortest

      &.active
        background-color var(--tabbed-pane-background-color)

        border-color var(--tabbed-pane-border-color)

      &:not(.active):hover
        background-image var(--tabbed-pane-background-overlay)

  &.rounded
    +tablet-portrait-down()
      & > .tabs
        border-top-left-radius $radius-large
        border-top-right-radius $radius-large

        overflow hidden

    +tablet-landscape-up()
      & > .tabs
        & > .tab
          border-top-left-radius $radius-large
          border-top-right-radius $radius-large

          overflow hidden

  & > .contents
    & > .content
      display none

      padding $space-large

      &.active
        display block
