@font-face {
  font-family: "Accidenz Commons";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/AccidenzCommons.otf") format("opentype");
}
.size {
  font-size: 24pt;
  font-family: "Accidenz Commons";

  border: 3px solid rgb(85, 77, 77);
  color: rgb(85, 77, 77);
  padding: 25px;
}

.fontEg {
  font-family: "Accidenz Commons";
  font-size: 20pt;
}

.exampleHeader {
  margin-top: 20px;
}
th:hover {
  background-color: rgb(224, 214, 214);
}
