// Generate given property for all brands

brands(property)
  $brands = 'blue' 'forest' 'gold' 'orange' 'tomato' 'turquoise' 'slate'

  for brand in $brands
    &.{brand}-branded.{brand}-branded
      {property} lookup('$color-' + brand)

