$breadcrumb-item-color: $color-tomato;
$breadcrumb-item-active-color: $color-dark-slate-gray;
$breadcrumb-item-hover-color: $color-tomato;
$breadcrumb-item-padding-horizontal: $space-small;
$breadcrumb-item-separator-color: $color-gray;


@import "bulma/sass/components/breadcrumb.sass";


nav.breadcrumb > ul {

  li+li:before {
    font-family: "Vocabulary Icons";
    content: '\f105';
  };

  li:hover {
    text-underline-position: below;
  };

}

