$breadcrumb-item-color: $color-forest-green;
$breadcrumb-item-active-color: $color-dark-slate-gray;
$breadcrumb-item-padding-horizontal: $space-small;
$breadcrumb-item-separator-color: $color-gray;


@import "bulma/sass/components/breadcrumb.sass";


nav.breadcrumb > ul > li+li:before {
  content: ">";
}

