$button-family: $family-alternative;

@import "../../node_modules/bulma/sass/elements/button.sass";

.button {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 0;
  border: 0.125rem solid $color-dark-gray;
  color: $color-dark-gray;
  background-color: $color-white;
  font-size: 1.43rem;
  padding: calc(#{$space-bigger} - .187rem) $space-large;

  &:hover {
    background-color: $color-dark-gray;
    color: $color-white;
  }

  &.big {
    font-size: 1.75rem;
    padding: calc(#{$space-large} - .093rem) $space-large;
  }

  &.small {
    font-size: 1rem;
    padding: $space-small calc(#{$space-normal} + .2rem);
  }

  &.tiny {
    padding: 0 $space-small;
    font-size: 1rem;
    text-transform: none;
    height: 2rem;
  }

  &.tag {
    padding: 0 $space-normal;
    font-size: 0.81rem;
    text-transform: none;
    height: 1.81rem;
    border-radius: 18.75rem;
    border: 0.125rem solid $color-light-gray;
  }

  &.is-primary:hover {
    background-color: $color-brighter-tomato;
  }

  &.is-info:hover {
    background-color: $color-brighter-forest-green;
  }

  &.donate {
    background-color: $color-gold;
    border: none;
    color: $color-black;

    &:hover {
      background-color: $color-brighter-gold;
      color: $color-black;
    }
  }
}
