$button-family: $family-alternative;

@import "bulma/sass/elements/button.sass";

.button {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 0;

  font-size: 1rem;
  padding: $space-small calc(#{$space-normal} + .2rem);

  &.is-large {
    font-size: 1.75rem;
    padding: calc(#{$space-large} - .093rem) $space-large;
  }

  &.is-medium {
    font-size: 1.43rem;
    padding: calc(#{$space-bigger} - .187rem) $space-large;
  }

  &.is-small {
    text-transform: none;

    font-family: $family-sans-serif;
    font-size: 1rem;
    padding: 0 $space-small;

    height: 2rem;
    border-radius: 4px;
  }

  border: 0.125rem solid $color-dark-gray;
  color: $color-dark-gray;
  background-color: $color-white;

  &:hover {
    background-color: $color-dark-gray;
    border-color: $color-dark-gray;
    color: $color-white;
  }

  &.is-primary{
    @extend .has-background-tomato;

    &:hover {
      background-color: $color-brighter-tomato;
    }
  }

  &.donate {
    @extend .has-background-gold;
    border: none;
    color: $color-black;

    &:hover {
      background-color: $color-brighter-gold;
      color: $color-black;
    }
  }

  &.is-text {
    text-decoration: none;
    &:hover, &:active, &:focus {
      border: none;
      box-shadow: none;
    }
  }
}
