$button-family: $family-secondary;

@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/tag.sass";

.button {
	text-transform: uppercase;
	font-weight: 600;
	line-height: 0;
	border: 0.125rem solid $color-dark-gray;
	color: $color-dark-gray;
	background-color: $color-white;
	font-size: 1.43rem;
	padding: calc(#{$space-bigger} - 0.187rem) $space-large;

	&:hover {
		background-color: $color-dark-gray;
		border-color: $color-dark-gray;
		color: $color-white;
		text-decoration: none;
	}

	&.big {
		font-size: 1.75rem;
		padding: calc(#{$space-large} - 0.093rem) $space-large;
	}

	&.small {
		font-size: 1rem;
		padding: $space-small calc(#{$space-normal} + 0.2rem);
	}

	&.tiny {
		font-family: $family-source-sans-pro;
		padding: 0 $space-small;
		font-size: 1rem;
		text-transform: none;
		height: 2rem;
	}

	&.tag {
		font-family: $family-source-sans-pro;
		padding: 0 $space-normal;
		font-size: 0.81rem;
		text-transform: none;
		height: 1.81rem;
		border-radius: 18.75rem;
		border: 0.125rem solid $color-light-gray;
		&:hover {
			border-color: $color-dark-gray;
		}

		&--removable {
			font-family: $family-source-sans-pro;
			padding: 0 $space-normal;
			font-size: 0.81rem;
			text-transform: none;
			height: 1.81rem;
			border-radius: 18.75rem;
			border: 0.125rem solid $color-light-gray;
			&:hover {
				color: $color-dark-gray;
				background-color: $color-white;
				border: 0.125rem solid $color-dark-gray;
			}

			&:hover > .icon {
				color: $color-white;
				background-color: $color-dark-gray;

				&:first-child:last-child {
					margin-right: calc(-1rem - 1px);
				}
			}
		}

		&--removable .icon {
			height: 1.6rem;
			width: 1.9rem;
			line-height: 1.6rem;
			font-size: 1rem;
			background-color: $color-white;
			color: $color-light-gray;
			border-top-right-radius: 18.75rem;
			border-bottom-right-radius: 18.75rem;

			&:first-child:last-child {
				margin-left: 0.3rem;
				margin-right: -1rem;
			}
		}
	}

	&.is-primary:hover {
		background-color: $color-brighter-tomato;
	}

	&.is-info:hover {
		background-color: $color-brighter-forest-green;
	}

	&.donate {
		background-color: $color-gold;
		border: none;
		color: $color-black;

		&:hover {
			background-color: $color-brighter-gold;
			color: $color-black;
		}
	}

	&.is-text {
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			border-color: transparent;
			box-shadow: none;
		}
	}
}
