$card-shadow : none;
$card-content-padding: $space-small;
$card-header-shadow: none;

@import "../../node_modules/bulma/sass/components/card.sass";

.card {
    &.entry-post {
        border: 3px solid $color-light-gray;
        &.no-border {
            border: none;
        }
        .card-content {
            .card-title {
                text-transform: none;
                line-height: 1.6rem;
                a {
                    color: $color-light-slate-gray;
                }
            }
            .subtitle {
                margin-bottom: $space-small;
                font-size: .8rem;
                text-transform: uppercase;
            }
            .content {
                padding-top: $space-small;
            }
            &.with-button {
                .content {
                    padding: $space-small 0;
                }
            }
        }
        &.horizontal {
            display: flex;
            .card-image {
                .image {
                    height: 100%;
                    img {
                        object-fit: cover;
                        height: 100%;
                    }
                }
            }
        }
        &.entry-video {
            .card-image {
                a {
                    .image {
                        &:before {
                            content: '';
                            position: absolute;
                            padding: $space-small;
                            top: 0;
                            left: 0;
                            width: 5rem;
                            height: 5rem;
                            background-color: $color-gold;
                            background-image: url("data:image/svg+xml,%3Csvg width='21' height='37' viewBox='0 0 21 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 19.24L0 0V37L21 19.24Z' fill='white'/%3E%3C/svg%3E%0A");
                            background-position: center center;
                            background-repeat: no-repeat;
                            z-index: 10;
                        }
                    }
                }
            }
            &.large {
                &>* {
                    flex: 0 0 auto;
                }
                .card-image {
                    width: 70%;
                    a {
                        .image {
                            &:before {
                                bottom: 0;
                                right: 0;
                                margin: auto;
                            }
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
                .card-content {
                    width: 30%;
                    .card-title {
                        text-transform: uppercase;
                        line-height: 3.7rem;
                    }
                }
            }
        }
        &.entry-event {
            .card-header {
                width: 30%;
                justify-content: center;
                align-items: center;
                .card-date {
                    padding: $space-small;
                    text-align: center;
                    &>* {
                        display: block;
                    }
                    .month {
                        text-transform: uppercase;
                        color: $color-light-slate-gray;
                    }
                    .day {
                        font-size: 70px;
                        font-weight: 600;
                        line-height: 4rem;
                    }
                    .year {
                        color: $color-light-slate-gray;
                    }
                }
            }
            .card-content {
                .content {
                    padding-bottom: $space-small;
                }
                .read-more {
                    position: relative;
                    text-transform: uppercase;
                    color: $color-gray;
                    letter-spacing: 2%;
                    &:after {
                        content: '';
                        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.51761 4.32428C5.20044 4.05786 5.1593 3.58477 5.42572 3.26761C5.69214 2.95044 6.16523 2.9093 6.48239 3.17572L5.51761 4.32428ZM12.25 9L12.7324 8.42572C12.902 8.56822 13 8.77844 13 9C13 9.22156 12.902 9.43178 12.7324 9.57428L12.25 9ZM6.48239 14.8243C6.16523 15.0907 5.69214 15.0496 5.42572 14.7324C5.1593 14.4152 5.20044 13.9421 5.51761 13.6757L6.48239 14.8243ZM6.48239 3.17572L12.7324 8.42572L11.7676 9.57428L5.51761 4.32428L6.48239 3.17572ZM12.7324 9.57428L6.48239 14.8243L5.51761 13.6757L11.7676 8.42572L12.7324 9.57428Z' fill='black'/%3E%3C/svg%3E%0A");
                        position: absolute;
                        width: 1rem;
                        height: 1rem;
                        right: -1.5rem;
                        top: .01rem;
                    }
                }
            }
        }
    }
}