// Generate given property for all colors and their shades

colors(property)
  &.inherit-colored
    {property} inherit

  $colors = 'blue' 'green' 'magenta' 'olive' 'orange' 'purple' 'red' 'sand' 'yellow'
  $shades = 'light' 'dark' 'darker'

  for color in $colors
    &.{color}-colored
      {property} lookup('$color-' + color)

      for shade in $shades
        &.{shade}-shaded
          {property} lookup('$color-' + color + '-' + shade)
