$red: $color-tomato;
$orange: $color-orange;
$yellow: $color-gold;
$green: $color-forest-green;
$cyan: $color-dark-slate-blue;
$blue: $color-dark-slate-blue;
$turquoise: $color-dark-turquoise;
$white: $color-white;
$black: $color-black;
$grey: $color-gray;
$grey-light: $color-light-gray;
$grey-lighter: $color-lighter-gray;
$grey-dark: $color-dark-gray;

$primary: $color-tomato;

$success: $color-dark-success;
$info: $color-forest-green;
$warning: $color-dark-warning;
$danger: $color-dark-error;

$link: $color-tomato;
$link-visited: $color-tomato;
