// Generate given property for all colors and their shades

colors(property)
  &.inherit-colored
    {property} inherit

  $colors = 'tomato' 'blue' 'green' 'orange' 'gold' 'turquoise'
  $shades = 'lighter' 'light' 'normal' 'dark' 'darker'

  for color in $colors
    &.{color}-colored
      {property} lookup('$color-' + color + '-default')

      for shade in $shades
        &.{shade}-shaded
          {property} lookup('$color-' + color + '-' + shade)
