// Generate given property for all colors and their shades

colors(property)
  for color_group in 'blue' 'green' 'magenta' 'olive' 'orange' 'purple' 'red' 'sand' 'yellow'
    &.{color_group}
      {property} lookup('$color-' + color_group)

      for shade in 'light' 'dark' 'darker'
        &.{shade}
          {property} lookup('$color-' + color_group + '-' + shade)
