// brand colors
$color-turquoise: rgb(5, 181, 218);
$color-tomato: rgb(237, 89, 47);
$color-gold: rgb(239, 190, 0);
$color-orange: rgb(251, 119, 41);
$color-blue: rgb(60, 92, 153);
$color-forest: rgb(4, 166, 53);
$color-dark-slate-gray: rgb(51, 51, 51);
$color-tomato-brighter: rgb(255, 105, 51);
$color-gold-brighter: rgb(245, 212, 0);
$color-forest-brighter: rgb(0, 184, 80);

// interaction
$color-error: rgb(255, 201, 201);
$color-success: rgb(224, 242, 191);
$color-warning: rgb(250, 236, 188);

// binary colors
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

// neutral colors
$color-light-slate-gray: rgb(120, 120, 120);
$color-gray: rgb(176, 176, 176);
$color-light-gray: rgb(216, 216, 216);
$color-lighter-gray: rgb(245, 245, 245);


// overriding Bulma colors
$orange: $color-orange;
$yellow: $color-gold;
$green: $color-forest;
$cyan: $color-turquoise;
$blue: $color-blue;
$red: $color-tomato;

$primary: $color-tomato;
$info: $color-forest;
$success: $color-success;
$warning: $color-warning;
$danger: $color-error;
$link: $color-turquoise;
$link-visited: $color-blue;

$brand-colors: (
  "tomato": $color-tomato,
  "turquoise": $color-turquoise,
  "gold": $color-gold,
  "orange": $color-orange,
  "blue": $color-blue,
  "forest": $color-forest,
  "dark-slate-gray": $color-dark-slate-gray,
  "tomato-brighter": $color-tomato-brighter,
  "gold-brighter": $color-gold-brighter,
  "forest-brighter": $color-forest-brighter
);

@each $color-namespace, $brand-color in $brand-colors {

    .has-background-#{$color-namespace} {
        background-color: $brand-color;
    }

    .has-color-#{$color-namespace} {
        color: $brand-color;
    }
}

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";