@mixin fontface($font-name, $font-file,$font-weight,$unicode)
{
  @font-face {
    font-family: $font-name;
    font-style: normal;
    font-weight: $font-weight;
    src: url('../fonts/' + $font-file + '.woff') format('woff'),
    url('../fonts/' + $font-file + '.woff2') format('woff2'),
    url('../fonts/' + $font-file + '.otf') format('opentype');
    unicode-range: $unicode;
  }
}
