// Reset the font family, size and line height in any selector

font-reset()
  font-family "Source Sans Pro", "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size 16px

  line-height 1.2
