$input-border-color: $color-light-gray;
$input-shadow: none;
$input-color: $color-dark-slate-gray;

@import "../../node_modules/bulma/sass/form/_all.sass";

// text input

.input {
    border-width: .125rem;
    padding-left: 1.5rem;
    font-family: Source Sans Pro;
    font-weight: 600;
}
