$input-border-color: $color-light-gray;
$input-shadow: none;
$input-color: $color-dark-slate-gray;

@import "../../node_modules/bulma/sass/form/_all.sass";

// Form control
@mixin form_control {
  font-family: $family-source-sans-pro;
  font-weight: 600;

  border-width: 0.125rem;
  border-color: $color-light-gray;
}

// text input

.input {
  @include form_control;

  padding-left: 1.5rem;

  &.is-medium {
      height: 3.875rem;
      font-size: 1.43rem;
  }

  &.is-large {
      height: 5.063rem;
      font-size: 1.75rem;
  }
}

.select {
  select {
    @include form_control;

    option {
      font-weight: 400;
    }

    &[disabled] {
      background-color: $color-lighter-gray;
      border-color: $color-light-gray;

      &:hover {
        border-color: $color-light-gray;
      }
    }
  }

  &:not(.is-multiple):not(.is-loading)::after {
    background: linear-gradient(45deg, $color-black 50%, transparent 50%);

    border: none;
    border-radius: 0;
  }
}
