$navbar-item-color: $color-dark-gray;
$navbar-item-hover-color: $color-dark-slate-gray;
$navbar-item-active-color: $color-dark-slate-gray;

$navbar-item-hover-background-color: transparent;

$navbar-dropdown-border-top: none;
$navbar-dropdown-radius: 0;

@import "bulma/sass/components/navbar.sass";

.navbar {
  padding: $space-bigger;

  .logo {
    height: 46px;
  }

  .navbar-burger span {
    height: 2px;
  }

  .navbar-burger {
    width: 3.25rem;
  }

  .navbar-end {
    .navbar-item {
      font-family: $family-roboto-condensed;
      font-size: $font-size-h5;
      font-weight: bold;
      text-transform: uppercase;

      .icon {
        margin-left: $space-small;
      }
    }

    & > .navbar-item {
      margin-left: $space-large;
    }
  }

  &.small {
    padding: $space-normal;

    .logo {
      height: 42px;
    }

    .navbar-menu {
      margin-right: 20rem;

      &.is-active {
        margin-right: 0;
      }
    }
  }
}


