$navbar-height: initial;

$navbar-item-color: $color-dark-gray;
$navbar-item-hover-color: $color-dark-slate-gray;
$navbar-item-active-color: $color-dark-slate-gray;

$navbar-item-hover-background-color: transparent;

$navbar-dropdown-border-top: none;
$navbar-dropdown-radius: 0;

@import "../../node_modules/bulma/sass/components/navbar.sass";

.header {
  position: relative;

  box-sizing: border-box;
  height: 7.875rem;

  background-color: $color-white;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;

    .logo {
      height: 46px;
      margin-right: $space-normal;
    }

    .navbar-burger span {
      height: 2px;
    }

    .navbar-end {
      .navbar-item {
        font-family: $family-roboto-condensed;
        font-size: $font-size-h5;
        font-weight: bold;
        text-transform: uppercase;

        .icon {
          margin-left: $space-small;
        }
      }

      & > .navbar-item {
        margin-left: $space-large;
      }
    }
  }

  &.small {
    height: 5.125rem;

    .logo {
      height: 42px;
    }

    .navbar-menu {
      margin-right: calc(3.5rem + 105px);
    }
  }
}
