.image {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
  }

  %image-details {
    transition: transform 0.2s linear;
    position: absolute;
    left: 0%;
  }

  .image-title {
    @extend %image-details;
    transform: translateY(100%);
    bottom: 0%;

    p {
      color: #fff;
      background-color: black;
      font-weight: 600;
      line-height: 19px;
    }
  }

  .image-icons {
    @extend %image-details;
    transform: translateY(-100%);
    top: 0%;
    z-index: 1;

    i {
      background-image: radial-gradient(circle, $color-white 60%, transparent 60%);
      font-size: 1.625rem;
    }
  }

}

.image:hover .image-title {
  transform: translateY(0%);
  margin-bottom: 0.4rem;
}

.image:hover .image-icons {
  transform: translateY(0%);
  margin-top: 0.5rem;
}

