.image {
  position: relative;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
  }

  .image-title,
  .image-icons {
    @extend .padding-vertical-small;
    @extend .padding-horizontal-normal;

    transition: transform 0.2s linear;
    position: absolute;
    left: 0;
  }

  .image-title {
    @extend .has-text-white;
    @extend .has-background-black;
    @extend .caption;

    transform: translateY(100%);
    bottom: 0;

    font-weight: 600;

    &.is-ellipsised:not(:hover) {
      white-space: nowrap;

      width: 100%;

      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .image-icons {
    @extend .has-text-black;

    transform: translateY(-100%);
    top: 0;

    font-size: 1.625rem;
  }

  &:hover {
    .image-title,
    .image-icons {
      transform: translateY(0%);
    }
  }
}

