// Generate given property for all indications

indications(property, default-shade=false)
  $indications = 'positive' 'probably' 'negative'
  $shades = 0 1 2 3 4 5 6 7 8 9

  for indication in $indications
    &.{indication}-indicating
      if default-shade
        {property} lookup('$color-' + indication) || lookup('$color-' + indication + '-' + default-shade) // Highest valued default
      else
        for shade in $shades
          &.s{shade}-shaded
            {property} lookup('$color-' + indication + '-' + shade)
