@mixin locale_control {
  font-family: $family-source-sans-pro;
}
.locale {
  @include locale_control;
  display: flex;
  flex-direction: row;
  align-items: center;

  .select {
    margin-left: $space-small;
  }
}
