// Mixins for media queries addressing display sizes of various devices

phone-only()
  @media (max-width: 599px)
    {block}

tablet-portrait-up()
  @media (min-width: 600px)
    {block}

tablet-portrait-only()
  @media (min-width: 600px) and (max-width: 899px)
    {block}

tablet-landscape-up()
  @media (min-width: 900px)
    {block}

tablet-landscape-only()
  @media (min-width: 900px) and (max-width: 1199px)
    {block}

desktop-up()
  @media (min-width: 1200px)
    {block}

desktop-only()
  @media (min-width: 1200px) and (max-width: 1799px)
    {block}

big-desktop-up()
  @media (min-width: 1800px)
    {block}
