// Mixins for media queries addressing display sizes of various devices

// Based on individual devices

phone-only()
  @media (max-width: 599px)
    {block}

tablet-portrait-only()
  @media (min-width: 600px) and (max-width: 899px)
    {block}

tablet-landscape-only()
  @media (min-width: 900px) and (max-width: 1199px)
    {block}

desktop-only()
  @media (min-width: 1200px) and (max-width: 1799px)
    {block}

big-desktop-up()
  @media (min-width: 1800px)
    {block}

// Based on device category

tablets-only()
  @media (min-width: 600px) and (max-width: 1199px)
    {block}

desktops-only()
  @media (min-width: 1200px)
    {block}

// Based on input method

touch-only()
  @media (max-width: 1199px)
    {block}

mouse-only()
  @media (min-width: 1200px)
    {block}

// Device and up

tablet-portrait-up()
  @media (min-width: 600px)
    {block}

tablet-landscape-up()
  @media (min-width: 900px)
    {block}

desktop-up()
  @media (min-width: 1200px)
    {block}

// Device and down

desktop-down()
  @media (max-width: 1799px)
    {block}

tablet-landscape-down()
  @media (max-width: 1199px)
    {block}

tablet-portrait-down()
  @media (max-width: 899px)
    {block}
