// A standard single page layout with a header, main content and a footer

page()
  height 100%

  display flex
  flex-direction column

  header
    flex-grow 0
    flex-shrink 0

  main
    flex-grow 1
    flex-shrink 0

    display flex
    flex-direction column
    align-items center
    justify-content center

  footer
    flex-grow 0
    flex-shrink 0
