$menu-item-color: $color-tomato;
$menu-item-hover-background-color: none;
$menu-item-active-background-color: none;
$menu-item-active-color: $color-dark-slate-gray;
$menu-list-border-left: none;
$menu-nested-list-margin: 0;
$menu-nested-list-padding-left: 0;
$menu-list-link-padding: 0.5em 0;

@import "bulma/sass/components/menu.sass";

.side-navigation {
  @extend .body-normal;
  @extend .padding-big;

  font-weight: bold;
  line-height: 1.5;
  background-color: $color-lighter-gray;
  max-width: 276px;

  .menu-list .link {
    text-decoration: none;
  }

  i {
    @extend .has-text-grey-lighter;
    @extend .padding-right-small;

    font-size: 0.375em;
  }

  .divider {
    @extend .margin-vertical-normal;

    border-top: 0.1875em solid $color-white;
  }
}
