// Generate given property for all font sizes

sizes(property)
  &.small
    {property} $size-small

  &.normal
    {property} $size-normal

  &.big
    {property} $size-big

  &.large
    {property} $size-large

  &.huge
    {property} $size-huge

  &.enormous
    {property} $size-enormous

  &.gigantic
    {property} $size-gigantic

  &.mega
    {property} $size-mega
