$space-small: .5rem;
$space-normal: 1rem;
$space-big: 1.5rem;
$space-bigger: 2rem;
$space-large: 2.5rem;
$space-larger: 3rem;
$space-xl: 4rem;
$space-xxl: 6rem;

$spacing-properties: (
  "padding": "padding",
  "margin": "margin",
);

$spacing-sizes: (
  "-small": $space-small,
  "-normal": $space-normal,
  "-big": $space-big,
  "-bigger": $space-bigger,
  "-large": $space-large,
  "-larger": $space-larger,
  "-xl": $space-xl,
  "-xxl": $space-larger,
);

$spacing-directions: (
  "-top": "-top",
  "-right": "-right",
  "-bottom": "-bottom",
  "-left": "-left",
  "-horizontal": "-left" "-right",
  "-vertical": "-top" "-bottom",
);

// this generates paddings and margins of each size
// on each direction: left, right, top, bottom,
// vertical (left and right) and vertical (top and bottom)
// and all directions
// for zero margin and padding, Bulma already has those classes
// `is-paddingless` and `is-marginless`
@each $property-namespace, $property in $spacing-properties {

  @each $size-namespace, $size in $spacing-sizes {

    @each $direction-namespace, $direction-rules in $spacing-directions {

      .#{$property-namespace}#{$direction-namespace}#{$size-namespace} {

        @each $direction in $direction-rules {
          #{$property}#{$direction}: $size !important;
        }
      }
    }
    
    .#{$property}#{$size-namespace} {
      #{$property}: $size !important;
    }
  }
}
