// Spacings
$space-smallest: .5rem;
$space-smaller: 1rem;
$space-small: 1.5rem;
$space-normal: 2rem;
$space-big: 2.5rem;
$space-bigger: 3rem;
$space-large: 4rem;
$space-larger: 6rem;

// Classes
$spacing-sizes: (
  "-smallest": $space-smallest,
  "-smaller": $space-smaller,
  "-small": $space-small,
  "-normal": $space-normal,
  "-big": $space-big,
  "-bigger": $space-bigger,
  "-large": $space-large,
  "-larger": $space-larger,
);

$spacing-properties: (
  "padding": "padding",
  "margin": "margin",
);

$spacing-directions: (
  "-top": "-top",
  "-right": "-right",
  "-bottom": "-bottom",
  "-left": "-left",
  "-horizontal": "-left" "-right",
  "-vertical": "-top" "-bottom",
  "-around": "-top" "-right" "-bottom" "-left",
);

// This generates paddings and margins of each size
// on each direction: left, right, top, bottom,
// horizontal (left and right), vertical (top and bottom)
// and around (all sides).
//
// Bulma already has classes for zero padding and margin:
// `is-paddingless` and `is-marginless` respectively.
@each $property-namespace, $property in $spacing-properties {

  @each $size-namespace, $size in $spacing-sizes {

    @each $direction-namespace, $direction-rules in $spacing-directions {

      .#{$property-namespace}#{$direction-namespace}#{$size-namespace} {

        @each $direction in $direction-rules {
          #{$property}#{$direction}: $size !important;
        }
      }
    }

    .#{$property}#{$size-namespace} {
      #{$property}: $size !important;
    }
  }
}
