$table-cell-padding: $space-normal;
$table-color: $color-dark-slate-gray;
$table-head-background-color: $color-light-gray;


@import "bulma/sass/elements/table.sass";

.number-cell {
  text-align: right !important;
}
