$tabs-border-bottom-color: $color-light-gray;
$tabs-border-bottom-width: 2px;
$tabs-link-color: $color-dark-slate-gray;
$tabs-link-padding: 0 0 $space-normal 0;
$tabs-link-active-border-bottom-color: $color-dark-slate-gray;
$tabs-link-active-color: $color-dark-slate-gray;

@import "bulma/sass/components/tabs.sass";

.tabs {
  font-family: $family-source-sans-pro;

  a {
    font-size: $font-size-h5;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 4px solid transparent;

    margin: 0 $space-normal -3px $space-normal;

    &:hover {
      border-bottom-color: $color-dark-slate-gray;
    }
  }

  li {
    &:first-child a {
      margin-left: 0;
    }

    &:last-child a {
      margin-right: 0;
    }
  }
}

.tabs-content {
  .tabs-panel {
    display: none;

    &.is-active {
      display: block;
    }
  }
}
