$family-sans-serif: $family-source-sans-pro;
$family-alternative: $family-roboto-condensed;
$family-monospace: $family-jetbrains-mono;

$size-4: $font-size-body-bigger;
$size-5: $font-size-body-big;
$size-6: $font-size-body-normal;
$size-7: $font-size-caption;
