@charset "utf-8";

$family-roboto: "Roboto Condensed", sans-serif;
$family-source: "Source Sans Pro", sans-serif;
$family-os: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$family-sans-serif: $family-roboto;
$button-family: $family-sans-serif;

body {
  font-family: $family-sans-serif;
}

@import "./colors.scss";
@import "./spaces.scss";
@import "./layout.scss";
@import "./typography.scss";
@import "./button.scss";
@import "./form.scss";
@import "./locale.scss";
@import "./github_corner.scss";
