@charset "utf-8";

$family-sans-serif: 'Source Sans Pro';
$family-alternative: 'Roboto Condensed';
$button-family: $family-alternative;

body {
    font-family: $family-sans-serif;
}

@import "./colors.scss";
@import "./spaces.scss";
@import "./layout.scss";
@import "./typography.scss";
@import "./button.scss";
@import "./form.scss";
@import "./card.scss";
@import "./globalheader.scss";
@import "./github_corner.scss";
