@font-face {
  font-family: "Vocabulary Icons";
  src: url("../fonts/VocabularyIcons.woff") format("woff"),
  url("../fonts/VocabularyIcons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Vocabulary Icons", monospace !important;
  speak: none;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;

  text-transform: none;
  line-height: 1;

  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

$icons: (
  "chevron-up": "\e900",
  "chevron-right": "\e901",
  "chevron-down": "\e902",
  "chevron-left": "\e903",
  "angle-up": "\e904",
  "angle-right": "\e905",
  "angle-down": "\e906",
  "angle-left": "\e907",
  "caret-right": "\e908",
  "caret-down": "\e909",

  "tick": "\ea00",
  "cross": "\ea01",
  "circle-filled": "\ea02",
  "circle-outline": "\ea03",
  "globe": "\ea04",
  "info": "\ea05",
  "external-link": "\ea06",
  "search": "\ea07",
  "sort": "\ea08",
  "filter": "\ea09",
  "sliders": "\ea0a",
  "flag": "\ea0b",
  "question-circle": "\ea0c",

  "cc-logo": "\ec00",
  "cc-by": "\ec01",
  "cc-nc": "\ec02",
  "cc-nc-eu": "\ec03",
  "cc-nc-jp": "\ec04",
  "cc-nd": "\ec05",
  "cc-sa": "\ec06",
  "cc-remix": "\ec07",
  "cc-sampling-plus": "\ec08",
  "cc-sampling": "\ec09",
  "cc-share": "\ec0a",
  "cc-zero": "\ec0b",
  "cc-pd": "\ec0c",
  "cc-pd-alt": "\ec0d",
  "cc-letterheart": "\ec0e",

  "instagram": "\ed00",
  "twitter": "\ed01",
  "linkedin": "\ed02",
  "facebook": "\ed03",
  "pinterest": "\ed04"
);

@mixin icon($icon-class, $icon-codepoint) {
  i.icon.#{$icon-class}:before {
    content: "#{$icon-codepoint}";
  }
}

@each $icon-class, $icon-codepoint in $icons {
  @include icon($icon-class, $icon-codepoint);
}

$instagram-brand: #e1306c;
$twitter-brand: #1da1f2;
$linkedin-brand: #0077b5;
$facebook-brand: #3b5998;
$pinterest-brand: #bd081c;
$brand-colors: (
  "facebook": $facebook-brand,
  "twitter": $twitter-brand,
  "instagram": $instagram-brand,
  "linkedin": $linkedin-brand,
  "pinterest": $pinterest-brand
);

@mixin branded-icon($icon-class, $icon-color) {
  i.icon.#{$icon-class}.colored:before {
    color: $icon-color;
  }
}

@each $icon-class, $icon-color in $brand-colors {
  @include branded-icon($icon-class, $icon-color);
}

.icon[class*="cc"] {
  &.has-background-white {
    background-image: radial-gradient(circle, #ffffff 60%, transparent 60%);
    background-color: transparent !important;
  }
}
