@import "~@/assets/tokens/tokens.styl"

.vocab.grid
  // Gutter

  --grid-gutter $space-normal

  &.sparser-packed
    --grid-gutter $space-larger

  &.sparse-packed
    --grid-gutter $space-large

  &.dense-packed
    --grid-gutter $space-small

  &.denser-packed
    --grid-gutter $space-smaller

  &.full-packed
    --grid-gutter $space-zero

  // Column count

  --grid-column-count repeat(12, 1fr)

  // Rules

  display grid
  align-content stretch
  justify-content left

  grid-template-columns var(--grid-column-count)

  gap var(--grid-gutter)
