@import "~@/styles/media.styl"

.vocab.grid
  .cell
    +phone-only()
      for column_width in (1...13)
        &.phone-{column_width}-wide
          grid-column span column_width

    +tablet-portrait-only()
      for column_width in (1...13)
        &.tablet-portrait-{column_width}-wide
          grid-column span column_width

    +tablet-landscape-only()
      for column_width in (1...13)
        &.tablet-landscape-{column_width}-wide
          grid-column span column_width

    +desktop-only()
      for column_width in (1...13)
        &.desktop-{column_width}-wide
          grid-column span column_width

    +big-desktop-up()
      for column_width in (1...13)
        &.big-desktop-{column_width}-wide
          grid-column span column_width
