@import "~@/assets/tokens/tokens.styl"

.vocab.color
  border 1px solid $color-tone-grey-lighter
  border-radius $radius-normal
  box-shadow $shadow-subtle $color-tone-near-white
  overflow hidden

  height 100%

  .swatch
    height 5em

    border-bottom 1px solid $color-tone-grey-lighter

  .description
    font-size $size-small

    padding $space-normal
