/*
 * Overrides for a lot of the default styling set by Styleguidist.
 */

@import "./styles/scroll.styl"
@import "./styles/typography.styl"

@import "./styles/header.styl"
@import "./styles/main.styl"
@import "./styles/footer.styl"

@import "./styles/sidebar.styl"

@import "./styles/usage.styl"
@import "./styles/preview.styl"

@import "./styles/table.styl"
