/*
 * Overrides default styling set by Styleguidist.
 */


// Selectors are repeated to increase specificity

@import "~@/assets/tokens/tokens.styl"

div[class*="rsg--logo"][class*="rsg--logo"]
  text-align center

h1[class*="rsg--logo"][class*="rsg--logo"]
  font-family "Fira Code", monospace
  font-weight $weight-bold
  font-size $size-large

  text-align center

p[class*="rsg--version"][class*="rsg--version"]
  font-family "Fira Code", monospace
  font-size $size-small

  display inline-block

  padding $space-normal

  border 1px solid
  border-radius $radius-normal

a[class*="rsg--link"][class*="rsg--heading"]
  font-weight $weight-bold

li[class*="rsg--item"][class*="rsg--item"]
  line-height 1.2

button[name="rsg--usage"]
  border-bottom 1px dashed

code[class*="rsg--code"][class*="rsg--code"]
  font-size $size-small

  background-color $color-tone-near-white

  padding $rspace-small

  border-radius $radius-normal

footer[class*="rsg--footer"][class*="rsg--footer"]
  opacity 0.5
  transition opacity 0.5s

  &:hover
    opacity 1.0

div[class*="rsg--preview"][class*="rsg--preview"]
  & > div > v-app > .locale
    background $color-tone-white

    padding $space-normal

    border-radius $radius-normal
    border 1px solid $color-tone-grey-lighter

    margin-bottom $space-normal

  &.dark-background
    background-color $color-tone-near-black

  &.no-i18n
    & > div > v-app > .locale
      display none
