/*
 * Overrides for a lot of the default styling set by Styleguidist.
 */

@import "~@/assets/tokens/tokens.styl"

@import "./styles/header.styl"
@import "./styles/main.styl"
@import "./styles/footer.styl"

@import "./styles/sidebar.styl"

@import "./styles/usage.styl"
@import "./styles/preview.styl"

@import "./styles/table.styl"

code[class*="rsg--code"][class*="rsg--code"]
  font-size $size-small

  background-color $color-tone-grey-lighter

  padding $rspace-small

  border-radius $radius-normal

h1[class*="rsg--heading"][class*="rsg--heading"]
  font-family "Fira Code", monospace
  font-size 3em
  font-weight $weight-bold

  padding-top $rspace-large

  a
    transition 150ms color ease-in
    &:hover
      text-decoration none
