
/* Lighter shade of gold */
$color-gold-lighter: rgb(255, 245, 209);
/* Normal shade of tomato */
$color-tomato-normal: rgb(237, 86, 44);
/* Normal shade of turquoise */
$color-turquoise-normal: rgb(46, 216, 250);
/* Base shade of negative context */
$color-context-negative: rgb(237, 86, 44);
/* Light shade of orange */
$color-orange-light: rgb(252, 165, 115);
/* Lightest grey, near white */
$color-tone-near-white: rgb(230, 230, 230);
/* 85% opaque shade of white, hint of color on white */
$color-overlay-white-high: rgba(255, 255, 255, 0.85);
/* Slightly dark grey */
$color-tone-grey-dark: rgb(102, 102, 102);
/* Base shade of positive context */
$color-context-positive: rgb(71, 250, 125);
/* Darker shade of gold */
$color-gold-darker: rgb(158, 124, 0);
/* Slightly light shade of intermediate context */
$color-context-probably-light: rgb(255, 245, 209);
/* Slightly dark shade of intermediate context */
$color-context-probably-dark: rgb(158, 124, 0);
/* Default shade of turquoise */
$color-turquoise-default: rgb(5, 179, 214);
/* Slightly light grey */
$color-tone-grey-light: rgb(153, 153, 153);
/* Default shade of tomato */
$color-tomato-default: rgb(237, 86, 44);
/* 15% opaque shade of black, overlay makes darker */
$color-overlay-black-low: rgba(0, 0, 0, 0.15);
/* Default shade of green */
$color-green-default: rgb(4, 164, 52);
/* Lighter shade of turquoise */
$color-turquoise-lighter: rgb(195, 244, 253);
/* Lighter shade of tomato */
$color-tomato-lighter: rgb(249, 199, 185);
/* Normal shade of gold */
$color-gold-normal: rgb(255, 212, 56);
/* Dark shade of orange */
$color-orange-dark: rgb(210, 80, 4);
/* Lighter shade of green */
$color-green-lighter: rgb(220, 254, 230);
/* Default shade of orange */
$color-orange-default: rgb(251, 117, 40);
/* Darker shade of blue */
$color-blue-darker: rgb(38, 58, 95);
/* Light shade of blue */
$color-blue-light: rgb(149, 172, 213);
/* 85% opaque shade of black, hint of color on black */
$color-overlay-black-high: rgba(0, 0, 0, 0.85);
/* Pure black color */
$color-tone-black: rgb(0, 0, 0);
/* Dark shade of green */
$color-green-dark: rgb(6, 239, 76);
/* Lighter shade of orange */
$color-orange-lighter: rgb(254, 213, 190);
/* Base shade of intermediate context */
$color-context-probably: rgb(255, 212, 56);
/* Dark shade of tomato */
$color-tomato-dark: rgb(188, 53, 16);
/* Normal shade of blue */
$color-blue-normal: rgb(95, 128, 191);
/* Dark shade of turquoise */
$color-turquoise-dark: rgb(5, 179, 214);
/* Slightly dark shade of positive context */
$color-context-positive-dark: rgb(4, 164, 52);
/* Darker grey */
$color-tone-grey-darker: rgb(51, 51, 51);
/* Light shade of gold */
$color-gold-light: rgb(255, 228, 133);
/* 15% opaque shade of white, overlay makes lighter */
$color-overlay-white-low: rgba(255, 255, 255, 0.15);
/* Lighter grey */
$color-tone-grey-lighter: rgb(204, 204, 204);
/* Slightly dark shade of negative context */
$color-context-negative-dark: rgb(117, 33, 10);
/* Slightly light shade of negative context */
$color-context-negative-light: rgb(249, 199, 185);
/* Pure white color */
$color-tone-white: rgb(255, 255, 255);
/* Darker shade of orange */
$color-orange-darker: rgb(135, 51, 3);
/* Default shade of blue */
$color-blue-default: rgb(60, 91, 150);
/* Darkest grey, near black */
$color-tone-near-black: rgb(26, 26, 26);
/* Dark shade of gold */
$color-gold-dark: rgb(235, 184, 0);
/* Lighter shade of blue */
$color-blue-lighter: rgb(204, 215, 235);
/* Darker shade of green */
$color-green-darker: rgb(4, 164, 52);
/* Normal shade of orange */
$color-orange-normal: rgb(251, 117, 40);
/* Slightly light shade of positive context */
$color-context-positive-light: rgb(220, 254, 230);
/* Darker shade of tomato */
$color-tomato-darker: rgb(117, 33, 10);
/* Light shade of turquoise */
$color-turquoise-light: rgb(121, 230, 252);
/* Darker shade of turquoise */
$color-turquoise-darker: rgb(4, 117, 139);
/* Light shade of tomato */
$color-tomato-light: rgb(243, 142, 114);
/* Default shade of gold */
$color-gold-default: rgb(235, 184, 0);
/* Light shade of green */
$color-green-light: rgb(146, 252, 178);
/* Normal shade of green */
$color-green-normal: rgb(71, 250, 125);
/* Dark shade of blue */
$color-blue-dark: rgb(60, 91, 150);
/* Font size for footnotes */
$size-small: 0.7937rem;
/* Font size for normal copy */
$size-normal: 1.0000rem;
/* Font size for H6 and equivalent */
$size-big: 1.2599rem;
/* Font size for H5 and equivalent */
$size-large: 1.5874rem;
/* Font size for H4 and equivalent */
$size-huge: 2.0000rem;
/* Font size for H3 and equivalent */
$size-enormous: 2.5198rem;
/* Font size for H2 and equivalent */
$size-gigantic: 3.1748rem;
/* Font size for H1 and equivalent */
$size-mega: 4.0000rem;
/* Extremely thinner-than-normal font weight */
$weight-thin: 100;
/* Extremely bolder-than-normal font weight */
$weight-heavy: 900;
/* Much bolder-than-normal font weight */
$weight-bold: 700;
/* Much thinner-than-normal font weight */
$weight-extralight: 200;
/* Normal font weight */
$weight-normal: 400;
/* Quite bolder-than-normal font weight */
$weight-extrabold: 800;
/* Thinner-than-normal font weight */
$weight-light: 300;
/* Bolder-than-normal font weight */
$weight-semibold: 700;
/* Slightly bolder-than-normal font weight */
$weight-medium: 500;
/* Normal spacing in em units */
$space-normal: 0.5em;
/* No spacing at all */
$space-zero: 0;
/* More spacing in em units */
$space-large: 1em;
/* Even more spacing in rem units */
$rspace-larger: 2rem;
/* Very less spacing in rem units */
$rspace-smaller: 0.125rem;
/* Less spacing in em units */
$space-small: 0.25em;
/* Even more spacing in em units */
$space-larger: 2em;
/* More spacing in rem units */
$rspace-large: 1rem;
/* Normal spacing in rem units */
$rspace-normal: 0.5rem;
/* Very less spacing in em units */
$space-smaller: 0.125em;
/* Less spacing in rem units */
$rspace-small: 0.25rem;
/* More rounded radius in rem units */
$rradius-large: 0.5rem;
/* Normal radius in rem units */
$rradius-normal: 0.25rem;
/* Makes pill from rectangle, circle from square */
$radius-pill: 999px;
/* Less rounded radius in rem units */
$rradius-small: 0.125rem;
/* More rounded radius in em units */
$radius-large: 0.5em;
/* Makes ellipse from rectangle, circle from square */
$radius-ellipse: 50%;
/* Normal radius in em units */
$radius-normal: 0.25em;
/* Makes 90° sharp cuts, no radius at all */
$radius-zero: 0;
/* Less rounded radius in em units */
$radius-small: 0.125em;
/* Object appears less raised */
$shadow-subtle: "0 1px 1px 0";
/* Object appears raised */
$shadow-normal: "0 2px 2px 0";
/* Object appears more raised */
$shadow-pronounced: "0 3px 3px 0";
/* Shortest time duration, barely noticeable */
$duration-shortest: 0.25s;
/* Short time duration, noticeable */
$duration-short: 0.5s;
/* Normal time duration, observable */
$duration-normal: 1s;
/* Long time duration, pronouced */
$duration-long: 2s;
/* Longest time duration, very pronounced */
$duration-longest: 4s;
