
$color-red-dark = rgb(90, 28, 14)
$color-context-negative = rgb(209, 56, 20)
$color-orange-light = rgb(251, 121, 40)
$color-tone-near-white = rgb(237, 237, 238)
$color-yellow-dark = rgb(78, 73, 23)
$color-tone-grey-dark = rgb(99, 100, 102)
$color-context-positive = rgb(152, 200, 7)
$color-yellow-light = rgb(237, 216, 18)
$color-green = rgb(1, 166, 53)
$color-tone-grey-light = rgb(167, 169, 172)
$color-orange = rgb(238, 91, 50)
$color-orange-dark = rgb(164, 104, 16)
$color-green-lighter = rgb(228, 235, 160)
$color-red-light = rgb(209, 56, 20)
$color-blue-light = rgb(67, 116, 183)
$color-tone-black = rgb(0, 0, 0)
$color-green-dark = rgb(61, 80, 36)
$color-orange-lighter = rgb(255, 216, 158)
$color-purple-light = rgb(182, 43, 110)
$color-yellow = rgb(176, 154, 17)
$color-violet-light = rgb(150, 40, 198)
$color-tone-grey-darker = rgb(57, 56, 57)
$color-tone-grey-lighter = rgb(220, 221, 222)
$color-yellow-lighter = rgb(255, 243, 162)
$color-red = rgb(145, 43, 16)
$color-context-primary = rgb(67, 116, 183)
$color-blue = rgb(33, 65, 132)
$color-purple = rgb(123, 27, 83)
$color-tone-white = rgb(255, 255, 255)
$color-tone-near-black = rgb(18, 21, 19)
$color-red-lighter = rgb(250, 180, 153)
$color-violet-dark = rgb(66, 25, 79)
$color-blue-lighter = rgb(191, 206, 234)
$color-violet = rgb(102, 41, 120)
$color-purple-lighter = rgb(247, 178, 204)
$color-purple-dark = rgb(79, 16, 53)
$color-green-light = rgb(152, 200, 7)
$color-violet-lighter = rgb(214, 180, 214)
$color-blue-dark = rgb(16, 37, 72)
$size-small = 0.7937rem
$size-normal = 1.0000rem
$size-big = 1.2599rem
$size-large = 1.5874rem
$size-huge = 2.0000rem
$size-enormous = 2.5198rem
$size-gigantic = 3.1748rem
$size-mega = 4.0000rem
$weight-bold = 700
$weight-normal = 400
$weight-light = 300
$space-normal = 0.5em
$space-zero = 0
$space-large = 1em
$rspace-larger = 2rem
$rspace-smaller = 0.125rem
$space-small = 0.25em
$space-larger = 2em
$rspace-large = 1rem
$rspace-normal = 0.5rem
$space-smaller = 0.125em
$rspace-small = 0.25rem
$rradius-large = 0.5rem
$rradius-normal = 0.25rem
$rradius-small = 0.125rem
$radius-large = 0.5em
$radius-ellipse = 50%
$radius-normal = 0.25em
$radius-zero = 0
$radius-small = 0.125em
$radius-circle = 999px
$shadow-subtle = "0 1px 1px 0"
