
:root {
  --color-warning: rgb(245, 159, 0);
  /* Pure black color */
  --color-black: rgb(0, 0, 0);
  --color-turquoise: rgb(5, 181, 218);
  --color-tomato: rgb(237, 89, 47);
  --color-success: rgb(116, 184, 22);
  --color-light-gray: rgb(216, 216, 216);
  --color-orange: rgb(251, 119, 41);
  --color-error: rgb(240, 62, 62);
  /* Pure white color */
  --color-white: rgb(255, 255, 255);
  --color-light-slate-gray: rgb(120, 120, 120);
  --color-dark-slate-gray: rgb(51, 51, 51);
  --color-blue: rgb(60, 92, 153);
  --color-forest: rgb(4, 166, 53);
  --color-lighter-gray: rgb(245, 245, 245);
  --color-gold: rgb(239, 190, 0);
  --color-gray: rgb(176, 176, 176);
  /* Font size for footnotes */
  --size-small: 0.7937rem;
  /* Font size for normal copy */
  --size-normal: 1.0000rem;
  /* Font size for H6 and equivalent */
  --size-big: 1.2599rem;
  /* Font size for H5 and equivalent */
  --size-large: 1.5874rem;
  /* Font size for H4 and equivalent */
  --size-huge: 2.0000rem;
  /* Font size for H3 and equivalent */
  --size-enormous: 2.5198rem;
  /* Font size for H2 and equivalent */
  --size-gigantic: 3.1748rem;
  /* Font size for H1 and equivalent */
  --size-mega: 4.0000rem;
  /* Extremely thinner-than-normal font weight */
  --weight-thin: 100;
  /* Extremely bolder-than-normal font weight */
  --weight-heavy: 900;
  /* Much bolder-than-normal font weight */
  --weight-bold: 700;
  /* Much thinner-than-normal font weight */
  --weight-extralight: 200;
  /* Normal font weight */
  --weight-normal: 400;
  /* Quite bolder-than-normal font weight */
  --weight-extrabold: 800;
  /* Thinner-than-normal font weight */
  --weight-light: 300;
  /* Bolder-than-normal font weight */
  --weight-semibold: 700;
  /* Slightly bolder-than-normal font weight */
  --weight-medium: 500;
  /* Normal spacing in em units */
  --space-normal: 0.5em;
  /* No spacing at all */
  --space-zero: 0;
  /* More spacing in em units */
  --space-large: 1em;
  /* Even more spacing in rem units */
  --rspace-larger: 2rem;
  /* Very less spacing in rem units */
  --rspace-smaller: 0.125rem;
  /* Less spacing in em units */
  --space-small: 0.25em;
  /* Even more spacing in em units */
  --space-larger: 2em;
  /* More spacing in rem units */
  --rspace-large: 1rem;
  /* Normal spacing in rem units */
  --rspace-normal: 0.5rem;
  /* Very less spacing in em units */
  --space-smaller: 0.125em;
  /* Less spacing in rem units */
  --rspace-small: 0.25rem;
  /* More rounded radius in rem units */
  --rradius-large: 0.5rem;
  /* Normal radius in rem units */
  --rradius-normal: 0.25rem;
  /* Makes pill from rectangle, circle from square */
  --radius-pill: 999px;
  /* Less rounded radius in rem units */
  --rradius-small: 0.125rem;
  /* More rounded radius in em units */
  --radius-large: 0.5em;
  /* Makes ellipse from rectangle, circle from square */
  --radius-ellipse: 50%;
  /* Normal radius in em units */
  --radius-normal: 0.25em;
  /* Makes 90° sharp cuts, no radius at all */
  --radius-zero: 0;
  /* Less rounded radius in em units */
  --radius-small: 0.125em;
  /* Object appears less raised */
  --shadow-subtle: "0 1px 1px 0";
  /* Object appears raised */
  --shadow-normal: "0 2px 2px 0";
  /* Object appears more raised */
  --shadow-pronounced: "0 3px 3px 0";
  /* Shortest time duration, barely noticeable */
  --duration-shortest: 0.25s;
  /* Short time duration, noticeable */
  --duration-short: 0.5s;
  /* Normal time duration, observable */
  --duration-normal: 1s;
  /* Long time duration, pronouced */
  --duration-long: 2s;
  /* Longest time duration, very pronounced */
  --duration-longest: 4s;
}
