
$color-green-8: rgb(47, 158, 68);
$color-grape-0: rgb(248, 240, 252);
$color-indigo-1: rgb(208, 235, 255);
$color-yellow-0: rgb(255, 249, 219);
$color-green-9: rgb(43, 138, 62);
$color-grape-1: rgb(243, 217, 250);
$color-indigo-2: rgb(165, 216, 255);
/* 15% opaque shade of white */
$color-white-low: rgba(255, 255, 255, 0.15);
$color-yellow-1: rgb(255, 243, 191);
$color-negative-0: rgb(255, 245, 245);
$color-grape-2: rgb(238, 190, 250);
$color-lime-0: rgb(244, 252, 227);
$color-indigo-3: rgb(116, 192, 252);
$color-pink-0: rgb(255, 240, 246);
$color-yellow-2: rgb(255, 236, 153);
$color-negative-1: rgb(255, 227, 227);
/* Lightest grey, near white */
$color-tone-near-white: rgb(230, 230, 230);
$color-grape-3: rgb(229, 153, 247);
$color-lime-1: rgb(233, 250, 200);
$color-indigo-4: rgb(77, 171, 247);
$color-pink-1: rgb(255, 222, 235);
$color-yellow-3: rgb(255, 224, 102);
$color-negative-2: rgb(255, 201, 201);
$color-grape-4: rgb(218, 119, 242);
$color-lime-2: rgb(216, 245, 162);
$color-indigo-5: rgb(51, 154, 240);
$color-pink-2: rgb(252, 194, 215);
$color-yellow-4: rgb(255, 212, 59);
$color-negative-3: rgb(255, 168, 168);
$color-grape-5: rgb(204, 93, 232);
$color-lime-3: rgb(192, 235, 117);
/* Slightly dark grey */
$color-tone-grey-dark: rgb(102, 102, 102);
$color-indigo-6: rgb(34, 139, 230);
$color-pink-3: rgb(250, 162, 193);
$color-red-0: rgb(255, 245, 245);
$color-tomato: rgb(237, 89, 47);
$color-yellow-5: rgb(252, 196, 25);
$color-negative-4: rgb(255, 135, 135);
$color-grape-6: rgb(190, 75, 219);
$color-positive-0: rgb(244, 252, 227);
$color-lime-4: rgb(169, 227, 75);
$color-indigo-7: rgb(28, 126, 214);
$color-pink-4: rgb(247, 131, 172);
$color-red-1: rgb(255, 227, 227);
$color-yellow-6: rgb(250, 176, 5);
$color-negative-5: rgb(255, 107, 107);
$color-grape-7: rgb(174, 62, 201);
$color-positive-1: rgb(233, 250, 200);
$color-lime-5: rgb(148, 216, 45);
$color-indigo-8: rgb(25, 113, 194);
/* Slightly light grey */
$color-tone-grey-light: rgb(153, 153, 153);
$color-pink-5: rgb(240, 101, 149);
$color-red-2: rgb(255, 201, 201);
$color-yellow-7: rgb(245, 159, 0);
$color-negative-6: rgb(250, 82, 82);
$color-grape-8: rgb(156, 54, 181);
$color-positive-2: rgb(216, 245, 162);
$color-lime-6: rgb(130, 201, 30);
$color-indigo-9: rgb(24, 100, 171);
$color-turquoise: rgb(5, 181, 218);
$color-pink-6: rgb(230, 73, 128);
$color-red-3: rgb(255, 168, 168);
$color-yellow-8: rgb(240, 140, 0);
$color-negative-7: rgb(240, 62, 62);
$color-grape-9: rgb(134, 46, 156);
$color-positive-3: rgb(192, 235, 117);
$color-lime-7: rgb(116, 184, 22);
$color-teal-0: rgb(230, 252, 245);
$color-pink-7: rgb(214, 51, 108);
$color-red-4: rgb(255, 135, 135);
$color-yellow-9: rgb(230, 119, 0);
$color-negative-8: rgb(224, 49, 49);
$color-positive-4: rgb(169, 227, 75);
$color-orange: rgb(251, 119, 41);
$color-lime-8: rgb(102, 168, 15);
$color-teal-1: rgb(195, 250, 232);
$color-pink-8: rgb(194, 37, 92);
$color-red-5: rgb(255, 107, 107);
$color-negative-9: rgb(201, 42, 42);
$color-positive-5: rgb(148, 216, 45);
$color-lime-9: rgb(92, 148, 13);
$color-teal-2: rgb(150, 242, 215);
$color-pink-9: rgb(166, 30, 77);
$color-red-6: rgb(250, 82, 82);
$color-violet-0: rgb(243, 240, 255);
$color-positive-6: rgb(130, 201, 30);
$color-grey-0: rgb(248, 249, 250);
$color-teal-3: rgb(99, 230, 190);
$color-red-7: rgb(240, 62, 62);
$color-violet-1: rgb(229, 219, 255);
$color-positive-7: rgb(116, 184, 22);
$color-grey-1: rgb(241, 243, 245);
$color-teal-4: rgb(56, 217, 169);
$color-red-8: rgb(224, 49, 49);
/* Pure black color */
$color-tone-black: rgb(0, 0, 0);
$color-violet-2: rgb(208, 191, 255);
$color-positive-8: rgb(102, 168, 15);
$color-grey-2: rgb(233, 236, 239);
$color-teal-5: rgb(32, 201, 151);
$color-red-9: rgb(201, 42, 42);
$color-violet-3: rgb(177, 151, 252);
$color-positive-9: rgb(92, 148, 13);
$color-grey-3: rgb(222, 226, 230);
$color-teal-6: rgb(18, 184, 134);
$color-violet-4: rgb(151, 117, 250);
$color-cyan-0: rgb(227, 250, 252);
$color-grey-4: rgb(206, 212, 218);
$color-teal-7: rgb(12, 166, 120);
$color-probably-0: rgb(255, 249, 219);
$color-violet-5: rgb(132, 94, 247);
$color-cyan-1: rgb(197, 246, 250);
$color-grey-5: rgb(173, 181, 189);
$color-teal-8: rgb(9, 146, 104);
$color-probably-1: rgb(255, 243, 191);
$color-violet-6: rgb(121, 80, 242);
/* Darker grey */
$color-tone-grey-darker: rgb(51, 51, 51);
$color-cyan-2: rgb(153, 233, 242);
$color-grey-6: rgb(134, 142, 150);
$color-teal-9: rgb(8, 127, 91);
$color-probably-2: rgb(255, 236, 153);
$color-violet-7: rgb(112, 72, 232);
$color-cyan-3: rgb(102, 217, 232);
$color-grey-7: rgb(73, 80, 87);
$color-probably-3: rgb(255, 224, 102);
$color-violet-8: rgb(103, 65, 217);
/* 85% opaque shade of white */
$color-white-high: rgba(255, 255, 255, 0.85);
/* Pure black color */
$color-pure-black: rgb(0, 0, 0);
$color-cyan-4: rgb(59, 201, 219);
/* Lighter grey */
$color-tone-grey-lighter: rgb(204, 204, 204);
$color-grey-8: rgb(52, 58, 64);
$color-probably-4: rgb(255, 212, 59);
$color-violet-9: rgb(95, 61, 196);
$color-cyan-5: rgb(34, 184, 207);
$color-grey-9: rgb(33, 37, 41);
$color-probably-5: rgb(252, 196, 25);
$color-cyan-6: rgb(21, 170, 191);
$color-probably-6: rgb(250, 176, 5);
$color-blue: rgb(60, 92, 153);
$color-cyan-7: rgb(16, 152, 173);
$color-probably-7: rgb(245, 159, 0);
$color-green-0: rgb(235, 251, 238);
/* 15% opaque shade of black */
$color-black-low: rgba(0, 0, 0, 0.15);
/* Pure white color */
$color-tone-white: rgb(255, 255, 255);
$color-cyan-8: rgb(12, 133, 153);
$color-probably-8: rgb(240, 140, 0);
$color-forest: rgb(4, 166, 53);
$color-green-1: rgb(211, 249, 216);
/* Darkest grey, near black */
$color-tone-near-black: rgb(26, 26, 26);
$color-cyan-9: rgb(11, 114, 133);
$color-probably-9: rgb(230, 119, 0);
$color-green-2: rgb(178, 242, 187);
$color-green-3: rgb(140, 233, 154);
$color-green-4: rgb(105, 219, 124);
$color-gold: rgb(239, 190, 0);
$color-green-5: rgb(81, 207, 102);
/* 85% opaque shade of black */
$color-black-high: rgba(0, 0, 0, 0.85);
$color-green-6: rgb(64, 192, 87);
/* Pure white color */
$color-pure-white: rgb(255, 255, 255);
$color-green-7: rgb(55, 178, 77);
$color-indigo-0: rgb(231, 245, 255);
/* Font size for footnotes */
$size-small: 0.7937rem;
/* Font size for normal copy */
$size-normal: 1.0000rem;
/* Font size for H6 and equivalent */
$size-big: 1.2599rem;
/* Font size for H5 and equivalent */
$size-large: 1.5874rem;
/* Font size for H4 and equivalent */
$size-huge: 2.0000rem;
/* Font size for H3 and equivalent */
$size-enormous: 2.5198rem;
/* Font size for H2 and equivalent */
$size-gigantic: 3.1748rem;
/* Font size for H1 and equivalent */
$size-mega: 4.0000rem;
/* Extremely thinner-than-normal font weight */
$weight-thin: 100;
/* Extremely bolder-than-normal font weight */
$weight-heavy: 900;
/* Much bolder-than-normal font weight */
$weight-bold: 700;
/* Much thinner-than-normal font weight */
$weight-extralight: 200;
/* Normal font weight */
$weight-normal: 400;
/* Quite bolder-than-normal font weight */
$weight-extrabold: 800;
/* Thinner-than-normal font weight */
$weight-light: 300;
/* Bolder-than-normal font weight */
$weight-semibold: 700;
/* Slightly bolder-than-normal font weight */
$weight-medium: 500;
/* Normal spacing in em units */
$space-normal: 0.5em;
/* No spacing at all */
$space-zero: 0;
/* More spacing in em units */
$space-large: 1em;
/* Even more spacing in rem units */
$rspace-larger: 2rem;
/* Very less spacing in rem units */
$rspace-smaller: 0.125rem;
/* Less spacing in em units */
$space-small: 0.25em;
/* Even more spacing in em units */
$space-larger: 2em;
/* More spacing in rem units */
$rspace-large: 1rem;
/* Normal spacing in rem units */
$rspace-normal: 0.5rem;
/* Very less spacing in em units */
$space-smaller: 0.125em;
/* Less spacing in rem units */
$rspace-small: 0.25rem;
/* More rounded radius in rem units */
$rradius-large: 0.5rem;
/* Normal radius in rem units */
$rradius-normal: 0.25rem;
/* Makes pill from rectangle, circle from square */
$radius-pill: 999px;
/* Less rounded radius in rem units */
$rradius-small: 0.125rem;
/* More rounded radius in em units */
$radius-large: 0.5em;
/* Makes ellipse from rectangle, circle from square */
$radius-ellipse: 50%;
/* Normal radius in em units */
$radius-normal: 0.25em;
/* Makes 90° sharp cuts, no radius at all */
$radius-zero: 0;
/* Less rounded radius in em units */
$radius-small: 0.125em;
/* Object appears less raised */
$shadow-subtle: "0 1px 1px 0";
/* Object appears raised */
$shadow-normal: "0 2px 2px 0";
/* Object appears more raised */
$shadow-pronounced: "0 3px 3px 0";
/* Shortest time duration, barely noticeable */
$duration-shortest: 0.25s;
/* Short time duration, noticeable */
$duration-short: 0.5s;
/* Normal time duration, observable */
$duration-normal: 1s;
/* Long time duration, pronouced */
$duration-long: 2s;
/* Longest time duration, very pronounced */
$duration-longest: 4s;
