@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"
@import "~@/styles/brands.styl"
@import "~@/styles/tones.styl"
@import "~@/styles/indications.styl"
@import "~@/styles/font-reset.styl"
@import "~@/styles/sizes.styl"

.vocab.button
  // Color palette

  --button-primary $color-tone-black

  &.inverted
    --button-primary $color-tone-white

  colors('--button-primary')
  brands('--button-primary')
  tones('--button-primary')
  indications('--button-primary')

  --button-secondary $color-tone-white

  &.inverted
    --button-secondary $color-tone-black

  --button-overlay $color-overlay-white-low

  &.inverted
    --button-overlay $color-overlay-black-low

  // Color

  --button-background-color var(--button-primary)
  --button-text-color var(--button-secondary)
  --button-border-color var(--button-primary)
  --button-background-overlay linear-gradient(
    var(--button-overlay),
    var(--button-overlay)
  )

  &.slightly-simple
    --button-background-color transparent
    --button-text-color var(--button-primary)

    &:hover
      --button-background-color var(--button-primary)
      --button-text-color var(--button-secondary)

  &.extremely-simple
    --button-border-color transparent
    --button-background-color transparent
    --button-text-color var(--button-primary)

  &.call-to-action
    --button-border-color transparent

  // Cursor

  --button-cursor pointer

  &.disabled
    --button-cursor not-allowed

  // Border widths

  --button-top-border-width 2px
  --button-right-border-width 2px
  --button-bottom-border-width 2px
  --button-left-border-width 2px

  &.left-joined,
  &.both-joined
    --button-left-border-width 0px

  &.right-joined,
  &.both-joined
    --button-right-border-width 0px

  // Border radius

  --button-border-radius $radius-zero

  &.slightly-rounded
    --button-border-radius $rradius-normal

  &.completely-rounded
    --button-border-radius $radius-pill

  // Rules

  display inline-flex
  flex-direction row
  align-items center

  color var(--button-text-color)

  font-reset()
  sizes('font-size')
  font-weight $weight-bold

  white-space nowrap

  cursor var(--button-cursor)

  background-color var(--button-background-color)

  padding $space-zero

  border-top-width var(--button-top-border-width)
  border-right-width var(--button-right-border-width)
  border-bottom-width var(--button-bottom-border-width)
  border-left-width var(--button-left-border-width)
  border-style solid
  border-color var(--button-border-color)
  border-radius var(--button-border-radius)

  transition-property color, background-color, border-color
  transition-duration $duration-shortest

  // Children

  & > .content
    padding $space-normal $space-large

    &.has-addons
      border-left 1px solid var(--button-border-color)

  & > .addons
    &.padded
      padding $space-normal

  // States

  &:hover
    background-image var(--button-background-overlay)

  &:active
    background-image none

  // Styles

  &.disabled
    opacity 0.2

    text-decoration line-through
    background-image none

  &.call-to-action
    padding-right $space-large

    clip-path polygon(
      0% 0%,
      calc(100% - 1em) 0%,
      100% 50%,
      calc(100% - 1em) 100%,
      0% 100%
    )
