@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/media.styl"
@import "~@/styles/indications.styl"

.vocab.table
  .cell
    // Color palette

    --table-cell-primary inherit

    indications('--table-cell-primary', 9)

    --table-cell-secondary inherit

    indications('--table-cell-secondary', 1)

    // Color

    --table-cell-text-color var(--table-cell-primary)
    --table-cell-background-color var(--table-cell-secondary)

    &.actionable
      &:hover
        --table-cell-text-color var(--table-body-following-text-color)
        --table-cell-background-color var(--table-body-following-background-color)
        --table-cell-background-overlay var(--table-body-following-background-overlay)

    // Cursor

    --table-cell-cursor default

    &.actionable
      --table-cell-cursor pointer

    // Rules

    color var(--table-cell-text-color)

    cursor var(--table-cell-cursor)

    background-color var(--table-cell-background-color)
    background-image var(--table-cell-background-overlay)

    padding $space-normal

    .label
      margin-right $space-small

      +tablet-portrait-up()
        display none

      +phone-only()
        display inline
