@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/media.styl"
@import "~@/styles/brands.styl"
@import "~@/styles/colors.styl"

.vocab.table
  // Color palette

  --table-primary $color-tone-black

  &.inverted
    --table-primary $color-tone-white

  brands('--table-primary')
  colors('--table-primary')

  --table-secondary $color-tone-white

  &.inverted
    --table-secondary $color-tone-black

  --table-tertiary $color-tone-black

  &.inverted
    --table-tertiary $color-tone-white

  --table-quaternary $color-tone-grey-lighter

  &.inverted
    --table-quaternary $color-tone-grey-darker

  --table-quinary $color-tone-grey-dark

  &.inverted
    --table-quinary $color-tone-grey-light

  --table-overlay-low $color-white-low
  --table-overlay-high $color-white-high

  &.inverted
    --table-overlay-low $color-black-low
    --table-overlay-high $color-black-high

  // Color

  --table-border-color var(--table-primary)

  --table-head-background-color var(--table-primary)
  --table-head-text-color var(--table-secondary)

  --table-body-background-color transparent
  --table-body-text-color var(--table-tertiary)

  --table-body-stripe-background-color var(--table-primary)
  --table-body-stripe-background-overlay linear-gradient(
    var(--table-overlay-high),
    var(--table-overlay-high)
  )

  --table-body-following-text-color var(--table-secondary)
  --table-body-following-background-color var(--table-primary)
  --table-body-following-background-overlay linear-gradient(
    var(--table-overlay-low),
    var(--table-overlay-low)
  )

  --table-foot-background-color var(--table-quaternary)
  --table-foot-text-color var(--table-tertiary)

  --table-caption-text-color var(--table-quinary)

  &.slightly-simple,
  &.extremely-simple
    --table-head-background-color var(--table-quaternary)
    --table-head-text-color var(--table-tertiary)

  // Border width palette

  --table-border-width 1px
  --table-accented-border-width 3px

  // Border width

  --table-head-border-top-width var(--table-accented-border-width)
  --table-head-border-bottom-width var(--table-border-width)

  --table-foot-border-top-width var(--table-border-width)
  --table-foot-border-bottom-width var(--table-border-width)

  &.extremely-simple
    --table-head-border-top-width var(--table-border-width)
    --table-head-border-bottom-width 0

    --table-foot-border-top-width 0
    --table-foot-border-bottom-width 0

  &.edge-bordered
    --table-edge-border-width var(--table-border-width)

  +tablet-portrait-up()
    &.row-bordered
      --table-row-border-width var(--table-border-width)

    &.column-bordered
      --table-column-border-width var(--table-border-width)

  // Border radius

  --table-border-radius 0

  &.rounded
    --table-border-radius $radius-large

  // Rules

  text-align left

  width 100%

  caption-side bottom
  border-collapse collapse

  border var(--table-edge-border-width, 0) solid var(--table-border-color)

  margin-bottom $space-large

  // Children

  & > .head,
  & > .body,
  & > .foot
    +tablet-portrait-up()
      tr
        border-width 0
        border-style solid
        border-color var(--table-border-color)

        &:not(:first-of-type)
          border-top-width var(--table-row-border-width, 0)

        &:not(:last-of-type)
          border-bottom-width var(--table-row-border-width, 0)

        .cell
          border-width 0
          border-style solid
          border-color var(--table-border-color)

          &:not(:first-child)
            border-left-width var(--table-column-border-width, 0)

          &:not(:last-child)
            border-right-width var(--table-column-border-width, 0)

  & > .head
    color var(--table-head-text-color)

    background-color var(--table-head-background-color)

    border-top-width var(--table-head-border-top-width)
    border-right-width 0
    border-bottom-width var(--table-head-border-bottom-width)
    border-left-width 0
    border-style solid
    border-color var(--table-border-color)

  & > .body
    color var(--table-body-text-color)

    background-color var(--table-body-background-color)

  & > .foot
    color var(--table-foot-text-color)

    background-color var(--table-foot-background-color)

    border-top-width var(--table-foot-border-top-width)
    border-right-width 0
    border-bottom-width var(--table-foot-border-bottom-width)
    border-left-width 0
    border-style solid
    border-color var(--table-border-color)

  & > .caption
    color var(--table-caption-text-color)
    font-style italic

    +phone-only()
      display none

  +phone-only()
    display block

    .head, .foot, .body
      display block

    tr
      display block

      &:not(:last-of-type)
        border-bottom var(--table-border-width) solid var(--table-border-color)

      .cell
        display block

  // States

  &.striped
    & > .body
      tr:nth-child(even)
        background-color var(--table-body-stripe-background-color)
        background-image var(--table-body-stripe-background-overlay)

  &.following
    & > .body
      tr:hover
        color var(--table-body-following-text-color)
        background-color var(--table-body-following-background-color)
        background-image var(--table-body-following-background-overlay)

  &.compact
    width auto

  &.fixed
    table-layout fixed
