@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/media.styl"

.vocab.table
  .cell
    padding $space-normal

    .label
      margin-right $space-small

      +tablet-portrait-up()
        display none

      +phone-only()
        display inline

    &.active
      cursor pointer

      &:hover
        background-color var(--table-color)
        background-image linear-gradient(
                0deg,
                var(--focus-shade) 0%,
                var(--focus-shade) 100%
        )

    &.negative
      color $color-context-negative-dark
      background-color $color-context-negative-light

    &.positive
      color $color-context-positive-dark
      background-color $color-context-positive-light
