@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/media.styl"
@import "~@/styles/colors.styl"

.vocab.table
  --table-color $color-tone-black
  colors('--table-color')

  --stripe-shade rgba(255, 255, 255, 0.85)
  --focus-shade rgba(255, 255, 255, 0.60)

  width 100%

  text-align left

  background-color $color-tone-white

  caption-side bottom
  border-collapse collapse

  margin-bottom $space-large

  +phone-only()
    display block

    .head, .foot, .body
      display block

    tr
      display block
      border-bottom 1px solid $color-tone-grey-light

      &:last-of-type
        border-bottom none

      td, th
        display block

  .head
    color $color-tone-white
    background-color var(--table-color)

    border-bottom 1px solid var(--table-color)

  .foot
    border-top 1px solid $color-tone-grey-light
    background-color $color-tone-near-white

  .caption
    font-weight $weight-light
    font-style italic

    +phone-only()
      display none

  &.compact
    width auto

  &.fixed
    table-layout fixed

  &.information-powered
    .head
      +phone-only()
        display none

  &.basic
    border-top 3px solid var(--table-color)

    .head
      color $color-tone-black
      background-color $color-tone-near-white

  &.inverted
    color $color-tone-white
    background-color $color-tone-black

    --stripe-shade rgba(0, 0, 0, 0.85)
    --focus-shade rgba(0, 0, 0, 0.60)

    .foot
      background-color $color-tone-near-black

    &.basic
      .head
        color $color-tone-white
        background-color $color-tone-near-black

  &.boxed
    border-left 1px solid var(--table-color)
    border-bottom 1px solid var(--table-color)
    border-right 1px solid var(--table-color)

  &.sliced
    .body
      tr:not(:last-of-type)
        border-bottom 1px solid var(--table-color)

  &.celled
    .body
      td, th
        &:not(:first-of-type)
          border-left 1px solid var(--table-color)

        &:not(:last-of-type)
          border-right 1px solid var(--table-color)

  &.striped
    .body
      tr:nth-child(even)
        td, th
          background-color var(--table-color)
          background-image linear-gradient(
                  0deg,
                  var(--stripe-shade) 0%,
                  var(--stripe-shade) 100%
          )

  &.following
    .body
      tr:hover
        td, th
          background-color var(--table-color)
          background-image linear-gradient(
                  0deg,
                  var(--focus-shade) 0%,
                  var(--focus-shade) 100%
          )

