@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"
@import "~@/styles/brands.styl"
@import "~@/styles/indications.styl"
@import "~@/styles/font-reset.styl"
@import "~@/styles/sizes.styl"

.vocab.input-field
  // Color palette

  --input-field-primary $color-tone-black

  &.inverted
    --input-field-primary $color-tone-white

  colors('--input-field-primary')
  brands('--input-field-primary')
  indications('--input-field-primary')

  --input-field-secondary $color-tone-white

  &.inverted
    --input-field-secondary $color-tone-black

  --input-field-tertiary $color-tone-black

  &.inverted
    --input-field-tertiary $color-tone-white

  &.infused
    --input-field-tertiary var(--input-field-primary)

  --input-field-overlay $color-overlay-white-low

  &.inverted
    --input-field-overlay $color-overlay-black-low

  // Color

  --input-field-background-color var(--input-field-secondary)
  --input-field-text-color var(--input-field-tertiary)
  --input-field-placeholder-color var(--input-field-primary)

  --input-field-addons-background-color var(--input-field-primary)
  --input-field-addons-text-color var(--input-field-secondary)
  --input-field-addons-background-overlay linear-gradient(
    var(--input-field-overlay),
    var(--input-field-overlay)
  )

  --input-field-border-color var(--input-field-primary)

  &.slightly-simple,
  &.extremely-simple
    --input-field-addons-background-color transparent
    --input-field-addons-text-color var(--input-field-primary)

  &.slightly-simple
    &:focus-within
      --input-field-addons-background-color var(--input-field-primary)
      --input-field-addons-text-color var(--input-field-secondary)

  &.extremely-simple
    --input-field-border-color transparent

  // Cursor

  --input-field-cursor text

  &.read-only
    --input-field-cursor default

  &.disabled
    --input-field-cursor not-allowed

  // Border widths

  --input-field-top-border-width 1px
  --input-field-right-border-width 1px
  --input-field-bottom-border-width 1px
  --input-field-left-border-width 1px

  &.left-joined,
  &.both-joined
    --input-field-left-border-width 0px

  &.right-joined,
  &.both-joined
    --input-field-right-border-width 0px

  // Border radius

  --input-field-border-radius 0

  &.slightly-rounded
    --input-field-border-radius $radius-normal

  &.completely-rounded
    --input-field-border-radius $radius-pill

  // Rules

  position relative

  display inline-flex
  flex-direction row

  color var(--input-field-text-color)

  font-reset()
  sizes('font-size')

  background-color var(--input-field-background-color)

  cursor var(--input-field-cursor)

  width 20em

  border-top-width var(--input-field-top-border-width)
  border-right-width var(--input-field-right-border-width)
  border-bottom-width var(--input-field-bottom-border-width)
  border-left-width var(--input-field-left-border-width)
  border-style solid
  border-color var(--input-field-border-color)
  border-radius var(--input-field-border-radius)

  overflow hidden

  // Children

  & > .field
    flex-grow 1

    appearance none

    color var(--input-field-text-color)

    font inherit

    cursor inherit

    background-color inherit

    padding $space-normal

    border transparent

    transition-property color, background-color, border-color
    transition-duration $duration-shortest

    // Children

    &::placeholder
      opacity 0.6

      color var(--input-field-placeholder-color)

    // States

    &:invalid
      color $color-negative-9

      background-color $color-negative-2

      box-shadow none

    &[type="range"]
      appearance none

      cursor pointer

      --input-field-track-height 0.125em
      --input-field-thumb-height 1em

      track()
        background-color var(--input-field-tertiary)

        height var(--input-field-track-height)

        border none
        border-radius $radius-pill

      &::-webkit-slider-runnable-track
        track()

      &::-moz-range-track
        track()

      thumb()
        appearance none

        background-color var(--input-field-primary)

        height var(--input-field-thumb-height)
        width 1em

        border none
        border-radius $radius-pill

        margin-top calc(
          (
          -1 * var(--input-field-thumb-height) + var(--input-field-track-height)
          ) / 2
        )

      &::-webkit-slider-thumb
        thumb()

      &::-moz-range-thumb
        thumb()

  & > .addons
    display flex
    flex-direction column
    justify-content center
    align-items center

    color var(--input-field-addons-text-color)

    background-color var(--input-field-addons-background-color)

    overflow hidden

    transition-property color, background-color
    transition-duration $duration-shortest

    &.padded
      padding $space-normal

    &.left
      order -1

      border-top-right-radius var(--input-field-border-radius)
      border-bottom-right-radius var(--input-field-border-radius)

    &.right
      order 1

      border-top-left-radius var(--input-field-border-radius)
      border-bottom-left-radius var(--input-field-border-radius)

  &:focus-within
    .addons
      background-image var(--input-field-addons-background-overlay)

  &.disabled
    opacity 0.6

    background-image none

    .field::placeholder
      text-decoration line-through
