@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"
@import "~@/styles/sizes.styl"

.vocab.shield
  // Color palette

  --shield-primary $color-tone-grey-dark
  --shield-secondary $color-tone-near-black
  --shield-tertiary $color-tone-white

  &.inverted
    --shield-primary $color-tone-grey-light
    --shield-secondary $color-tone-near-white
    --shield-tertiary $color-tone-black

  colors('--shield-primary')

  &.positive-indicating.positive-indicating
    --shield-primary $color-context-positive

  &.probably-indicating.probably-indicating
    --shield-primary $color-context-probably

  &.negative-indicating.negative-indicating
    --shield-primary $color-context-negative

  // Color
  --shield-label-background-color var(--shield-secondary)
  --shield-label-text-color var(--shield-tertiary)
  --shield-message-background-color var(--shield-primary)
  --shield-message-text-color var(--shield-tertiary)

  &.slightly-simple,
  &.extremely-simple
    --shield-label-background-color transparent
    --shield-label-text-color var(--shield-secondary)

  &.extremely-simple
    --shield-message-text-color var(--shield-primary)
    --shield-message-background-color transparent

  // Border width

  --shield-border-width 0

  &.slightly-simple,
  &.extremely-simple
    --shield-border-width 1px

  // Border radius

  --shield-border-radius 0

  &.slightly-rounded
    --shield-border-radius $radius-normal

  &.completely-rounded
    --shield-border-radius $radius-pill

  // Rules

  display inline-flex
  flex-direction row

  sizes('font-size')

  height 2.25em

  box-sizing border-box

  border var(--shield-border-width) solid var(--shield-primary)
  border-radius var(--shield-border-radius)

  overflow hidden

  // Children

  & > .bit
    display inline-flex
    flex-direction row
    align-items center
    justify-content center

    padding $space-normal

    // States

    &.label
      color var(--shield-label-text-color)

      background-color var(--shield-label-background-color)

    &.message
      color var(--shield-message-text-color)
      font-weight $weight-bold

      background-color var(--shield-message-background-color)
      border-left 1px solid var(--shield-primary)

    &.lowercased
      text-transform lowercase
