/* Import fonts used by Vocabulary */
@import url("https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Noto+Sans:400,700|Source+Sans+Pro:300,400,700&display=swap");

/* Page level resets */
html,
body,
#app {
    height: 100%;
    margin: 0;
}

/* Global typographical styling */
html {
    font-family: "Source Sans Pro", "Noto Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2;
}
