@import "../assets/tokens/tokens.styl"

@import "../styles/colors.styl"
@import "../styles/brands.styl"
@import "../styles/tones.styl"
@import "../styles/indications.styl"
@import "../styles/font-reset.styl"
@import "../styles/sizes.styl"

.vocab.button
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: $color-pure-white;
  border: 2px solid $color-grey-6;
  font-weight: 600;
  font-family: Roboto Condensed;
  color: $color-grey-6;
  height: 2.5rem;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  
  &.primary
    background-color: $color-tomato
    color: $color-pure-white
    border: none;
  
  &.action
    background-color: $color-forest
    color: $color-pure-white
    border: none;

  &.tag-white
    border-radius: 15.5px;
    color: #B0B0B0;
    border: 1.5px solid #D8D8D8;
    text-transform: none;
    height: 1.8rem;
    font-size: 0.8rem;
    padding: 0.3rem 1rem;

  &.tag-gray
    border-radius: 15.5px;
    color: $color-pure-white;
    background: #B0B0B0;
    border: none;
    text-transform: none;
    height: 1.8rem;
    font-size: 0.8rem;
    padding: 0.3rem 1rem;

  &.donate
    background-color: $color-gold
    color: $color-pure-black;
    border: none;


  &.big
    height: 5rem;
    font-size: 1.75rem;
    padding: 1.5rem 2.5rem;

  &.medium
    height: 3.9rem;
    font-size: 1.4rem;
    padding: 1rem 2.5rem;
