@import "../assets/tokens/tokens.styl"
@import "../styles/colors.styl"
@import "../styles/brands.styl"
@import "../styles/tones.styl"
@import "../styles/indications.styl"
@import "../styles/font-reset.styl"
@import "../styles/sizes.styl"

.vocab.button
  text-align: center;
  border-radius: 0.25rem;
  text-transform: uppercase;
  background-color: $color-pure-white;
  border: 0.125rem solid $color-grey-6;
  font-weight: 600;
  font-family: Roboto Condensed;
  color: $color-grey-6;
  font-size: $size-big;
  padding: 0.5rem 1rem;

  &.tomato
    background-color: $color-tomato;
    border: none;
    color: $color-pure-white;

  &.forest
    background-color: $color-forest;
    border: none;
    color: $color-pure-white;

  &.gold
    background-color: $color-gold
    border: none;
    color: $color-pure-black;

  &.orange
    background-color: $color-orange;
    border: none;
    color: $color-pure-white;

  &.turquoise
    background-color: $color-turquoise;
    border: none;
    color: $color-pure-black;

  &.blue
    background-color: $color-blue;
    border: none;
    color: $color-pure-white;
  
  &.primary
    background-color: $color-tomato
    color: $color-pure-white
    border: none;
  
  &.secondary
    background-color: $color-forest
    color: $color-pure-white
    border: none;

  &.tag-white
    border-radius: 1rem;
    color: $color-grey-5;
    border: 0.125rem solid $color-grey-3;
    text-transform: none;
    font-size: $size-small;
    padding: 0.3rem 1rem;

  &.tag-gray
    border-radius: 1rem;
    color: $color-pure-white;
    background: $color-grey-5;
    border: none;
    text-transform: none;
    font-size: $size-small;
    padding: 0.3rem 1rem;

  &.donate
    background-color: $color-gold
    color: $color-pure-black;
    border: none;

  &.big
    font-size: $size-large;
    padding: 1.5rem 2.5rem;

  &.medium
    font-size: $size-big;
    padding: 1rem 2.5rem;
