@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"

.vocab.heading
  //Color

  colors('--heading-color')

  &.positive-indicating.positive-indicating
    --heading-color $color-context-positive-dark

  &.probably-indicating.probably-indicating
    --heading-color $color-context-probably-dark

  &.negative-indicating.negative-indicating
    --heading-color $color-context-negative-dark

  // Font size

  h1&
    --heading-font-size $size-mega

  h2&
    --heading-font-size $size-gigantic

  h3&
    --heading-font-size $size-enormous

  h4&
    --heading-font-size $size-huge

  h5&
    --heading-font-size $size-large

  h6&
    --heading-font-size $size-big

  // Rules

  color var(--heading-color)
  font-size var(--heading-font-size)

  margin $space-zero $space-zero $rspace-normal $space-zero
