@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"

.vocab.paragraph
  // Color
  colors('--paragraph-color')

  &.positive-indicating.positive-indicating
    --paragraph-color $color-context-positive-dark

  &.probably-indicating.probably-indicating
    --paragraph-color $color-context-probably-dark

  &.negative-indicating.negative-indicating
    --paragraph-color $color-context-negative-dark

  // Line height

  // Average
  --paragraph-line-height 1.409

  &.sparse-packed
    // Golden ratio
    --paragraph-line-height 1.618

  &.dense-packed
    // Minimum readable
    --paragraph-line-height 1.2

  // Rules

  color var(--paragraph-color)
  line-height var(--paragraph-line-height)

  margin $space-zero $space-zero $space-large $space-zero

  &:last-of-type
    margin-bottom $space-zero
