@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"
@import "~@/styles/media.styl"
@import "~@/styles/sizes.styl"

.vocab.rating
  // Color palette

  --rating-primary $color-tone-black

  &.inverted
    --rating-primary $color-tone-white

  colors('--rating-primary')

  &.positive-indicating.positive-indicating
    --rating-primary $color-context-positive

  &.probably-indicating.probably-indicating
    --rating-primary $color-context-probably

  &.negative-indicating.negative-indicating
    --rating-primary $color-context-negative

  --rating-secondary $color-tone-grey-dark

  &.inverted
    --rating-secondary $color-tone-grey-light

  --rating-tertiary $color-tone-grey-light

  &.inverted
    --rating-tertiary $color-tone-grey-dark

  // Color

  --rating-active-icon-color var(--rating-primary)
  --rating-inactive-icon-color var(--rating-secondary)
  --rating-inactive-icon-hover-color var(--rating-tertiary)

  &.read-only,
  &.disabled
    --rating-inactive-icon-hover-color var(--rating-inactive-icon-color)

  // Cursor

  --rating-cursor pointer

  &.read-only
    --rating-cursor default

  &.disabled
    --rating-cursor not-allowed

  // Rules

  display inline-flex
  align-items center

  color var(--rating-active-icon-color)

  sizes('font-size')

  // Children

  & > .icon
    cursor var(--rating-cursor)

    &.dot
      font-size 0.5em

      margin-right $space-large

    &.unit
      margin-right $space-normal

      transition-property color, transform
      transition-duration $duration-shortest

      &:not(.active)
        color var(--rating-inactive-icon-color)
        transform scale(0.85)

        &:hover
          color var(--rating-inactive-icon-hover-color)
          transform scale(1)

  &.read-only,
  &.disabled
    & > .icon
      &.unit
        &:not(.active)
          transform none

  &.disabled
    opacity 0.6
