@import "~@/assets/tokens/tokens.styl"@import "~@/styles/media.styl".vocab.trail  .crumbs    .crumb      color var(--trail-color)      .spacing        display inline-block        width 1.25em        +tablet-portrait-up()          display none      a        color inherit        text-decoration inherit      .separator        color var(--separator-color)        margin $space-zero $space-normal        +phone-only()          display none      &:not(:last-of-type)        text-decoration underline dotted        +phone-only()          padding-bottom $space-normal      &:last-of-type        color var(--last-color)        .separator          display none