@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/colors.styl"
@import "~@/styles/media.styl"
@import "~@/styles/list.styl"

.vocab.trail
  --trail-color $color-tone-black
  --separator-color $color-tone-grey-light
  --last-color $color-tone-black

  &.inverted
    --trail-color $color-tone-white
    --separator-color $color-tone-grey-dark
    --last-color $color-tone-white

  colors('--trail-color')

  .crumbs
    bland-list()

    width 100%
    display flex

    +phone-only()
      flex-direction column

    +tablet-portrait-up()
      flex-direction row

