@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"
@import "~@/styles/list.styl"
@import "~@/styles/media.styl"

.vocab.trail
  // Color palette

  --trail-primary $color-tone-black

  &.inverted
    --trail-primary $color-tone-white

  colors('--trail-primary')

  --trail-secondary $color-tone-grey-light

    --trail-secondary $color-tone-grey-dark

  --trail-tertiary $color-tone-black

    --trail-tertiary $color-tone-white

  // Children

  & > .crumbs
    bland-list()

    display flex

    +phone-only()
      flex-direction column

    +tablet-portrait-up()
      flex-direction row
      align-items center

    width 100%

