@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/list.styl"

.vocab.footer
  // Color

  --footer-text-color $color-tone-grey-light
  --footer-highlighted-text-color $color-tone-grey-lighter

  // Rules

  color $color-tone-grey-light

  background-color $color-tone-grey-darker

  padding $space-normal $space-zero

  // Children

  a
    color $color-tone-grey-lighter
    text-decoration none

    &:hover
      color $color-tone-white

  h6
    color $color-tone-grey-lighter

  & > .container
    & > .grid
      & > #branding-column
        display flex
        flex-direction column
        justify-content space-between

        & > .logo
          img
            max-width 100%

          margin $space-small $space-zero

        & > .links
          .link-list
            piped-list-compact()

      & > #contact-column

        & > .communication
          address
            font-style normal

          margin-bottom $space-normal

        & > .contacts
          bland-list()
