@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/list.styl"

.vocab.footer
  // Color

  --footer-background-color $color-tone-grey-darker
  --footer-text-color $color-tone-grey-light
  --footer-highlighted-text-color $color-tone-grey-lighter

  // Rules

  color var(--footer-text-color)

  background-color var(--footer-background-color)

  padding $space-normal $space-zero

  // Children

  a
    color var(--footer-highlighted-text-color)
    text-decoration none

    &:hover
      color $color-tone-white

  h6
    color var(--footer-highlighted-text-color)

  & > .container
    & > .grid
      & > #branding-column
        display flex
        flex-direction column
        justify-content space-between

        & > .logo
          img
            max-width 100%

          margin $space-small $space-zero

        & > .links
          & > ul
            piped-list-compact()

      & > #contact-column

        & > .communication
          address
            font-style normal

          margin-bottom $space-normal

        & > .contacts
          & > ul
            bland-list()
