@import "~@/assets/tokens/tokens.styl"

.colors
  display: grid;
  max-width: 1200px;
  align-content: stretch;
  justify-content: left;

  grid-template-columns 1fr 1fr 1fr 1fr
  grid-column-gap $space-large
  grid-row-gap $space-large
