@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/media.styl"

.vocab.colors
  display: grid;
  align-content: stretch;
  justify-content: left;

  grid-column-gap $space-large
  grid-row-gap $space-large

  +phone-only()
    grid-template-columns 1fr

  +tablet-portrait-only()
    grid-template-columns repeat(2, 1fr)

  +tablet-landscape-only()
    grid-template-columns repeat(4, 1fr)

  +desktop-only()
    grid-template-columns repeat(4, 1fr)

  +big-desktop-up()
    grid-template-columns repeat(8, 1fr)
