@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"
@import "~@/styles/font-reset.styl"
@import "~@/styles/sizes.styl"

.vocab.choice-field
  // Color palette

  --choice-field-primary $color-tone-black

  &.inverted
    --choice-field-primary $color-tone-white

  colors('--choice-field-primary')

  --choice-field-secondary $color-tone-white

  &.inverted
    --choice-field-secondary $color-tone-black

  // Color

  --choice-field-border-color var(--choice-field-primary)
  --choice-field-background-color var(--choice-field-primary)
  --choice-field-fill-color var(--choice-field-secondary)

  &.slightly-simple,
  &.extremely-simple
    --choice-field-background-color var(--choice-field-secondary)
    --choice-field-fill-color var(--choice-field-primary)

  &.extremely-simple
    --choice-field-border-color transparent

  &.positive-indicating
    --choice-field-border-color $color-context-positive
    --choice-field-background-color $color-context-positive-light
    --choice-field-fill-color $color-context-positive-dark

  &.probably-indicating
    --choice-field-border-color $color-context-probably
    --choice-field-background-color $color-context-probably-light
    --choice-field-fill-color $color-context-probably-dark

  &.negative-indicating
    --choice-field-border-color $color-context-negative
    --choice-field-background-color $color-context-negative-light
    --choice-field-fill-color $color-context-negative-dark

  // Cursor

  --choice-field-cursor pointer

  &.disabled
    --choice-field-cursor not-allowed

  &.read-only
    --choice-field-cursor default

  // Rules

  &[type="checkbox"],
  &[type="radio"]
    appearance none

    position relative

    display inline-block
    vertical-align middle

    font-reset()
    sizes('font-size')

    cursor var(--choice-field-cursor)

    background-color var(--choice-field-background-color)

    height 1.5em
    width 1.5em

    box-sizing content-box

    border 1px solid var(--choice-field-border-color)

    &::before
      opacity 0

      content ''

      position absolute
      top $space-small
      left $space-small

      display inline-block

      background-color var(--choice-field-fill-color)

      width 1em
      height 1em

    &:checked::before
      opacity 1

  &[type="checkbox"]
    border-radius $radius-zero

    &::before
      mask url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/></svg>")

  &[type="radio"]
    border-radius $radius-ellipse

    &::before
      mask url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z'/></svg>")

  &.disabled
    opacity 0.6

  &.read-only
    &:checked::before
      opacity 0.6
