@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"

.vocab.card
  // Color palette

  --card-primary $color-tone-black

  &.inverted
    --card-primary $color-tone-white

  colors('--card-primary')

  --card-secondary $color-tone-grey-dark

  &.inverted
    --card-secondary $color-tone-grey-light

  --card-tertiary $color-tone-near-white + 50%

  &.inverted
    --card-tertiary $color-tone-near-black - 50%

  // Color

  --card-heading-text-color var(--card-primary)
  --card-subheading-text-color var(--card-secondary)

  --card-separator-color var(--section-border-color)

  --card-foot-background-color var(--card-tertiary)
  --card-foot-text-color var(--card-secondary)

  &.slightly-simple,
  &.extremely-simple
    --card-foot-background-color transparent

  &.extremely-simple
    --card-separator-color var(--card-primary)

  // Rules

  display flex
  flex-direction column

  &.completely-rounded
    text-align center

  padding-top $space-zero
  padding-left $space-zero
  padding-right $space-zero

  & > .content
    display flex
    flex-direction column

    & > .feature
      flex-grow 0
      flex-shrink 0

      & > .image-view
        display block

        width 100%

        & > img
          width 100%

    & > .head
      flex-grow 0
      flex-shrink 0

      padding $space-normal

      & > .heading
        color var(--card-heading-text-color)

        font-size $size-large
        font-weight $weight-bold

      & > .subheading
        color var(--card-subheading-text-color)

        font-size $size-normal

    & > .body
      flex-grow 1
      flex-shrink 0

      padding $space-normal

    & > .foot
      flex-grow 0
      flex-shrink 0

      color var(--card-foot-text-color)

      background-color var(--card-foot-background-color)

      padding $space-normal

      border-top 1px solid var(--card-separator-color)

      margin-bottom calc(-1 * var(--section-padding-bottom))

  &.decked
    height 100%

    & > .content
      height 100%
