@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/colors.styl"
@import "~@/styles/media.styl"
@import "~@/styles/list.styl"

.vocab.navigation
  // Color palette

  --navigation-primary $color-tone-black

  &.inverted
    --navigation-primary $color-tone-white

  colors('--navigation-primary')

  --navigation-overlay $color-overlay-black-low

  &.inverted
    --navigation-overlay $color-overlay-white-low

  // Rules

  // Children

  & > .links
    +phone-only()
      bland-list()

      text-align left

      width 100%

    +tablet-portrait-up()
      piped-list()
