@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/media.styl"

.vocab.navigation
  // Color

  --navigation-link-text-color var(--navigation-primary)
  --navigation-link-background-color var(--navigation-primary)

  --navigation-link-background-overlay linear-gradient(
    var(--navigation-overlay),
    var(--navigation-overlay)
  )

  // Rules

  & > .links
    & > .link
      color var(--navigation-link-text-color)

      font-size $size-big
      font-weight $weight-bold

      a
        color inherit

        text-decoration inherit

      +phone-only()
        border-bottom 1px solid @color

        &:last-of-type
          border none

        a
          display block
          padding $space-normal $space-zero

      +tablet-portrait-up()
        padding $space-small $space-large

      &:hover
        background-image var(--navigation-link-background-overlay)
