@import "../assets/tokens/tokens.styl"

@import "../styles/brands.styl"
@import "../styles/media.styl"
@import "../styles/list.styl"

.vocab.navigation
  // Color palette

  --navigation-primary $color-light-slate-gray

  &.inverted
    --navigation-primary $color-white

  brands('--navigation-primary')

  // Rules

  // Children

  & > .links
    +phone-only()
      bland-list()

      text-align left

      width 100%

    +tablet-portrait-up()
      piped-list()
