@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"

.vocab.quote
  // Color palette

  --quote-primary $color-tone-grey-dark

  &.inverted
    --quote-primary $color-tone-grey-light

  colors('--quote-primary')

  // Color

  --quote-icon-color var(--quote-primary)
  --quote-border-left-color var(--quote-primary)

  // Border width

  --quote-border-left-width 0

  &.lined
    --quote-border-left-width 4px

  // Rules

  display inline-flex
  flex-direction column
  justify-content space-between

  padding $space-zero 'calc(1.3em + %s)' % $space-normal

  border-left var(--quote-border-left-width)
  border-left-style solid
  border-left-color var(--quote-border-left-color)

  // Children

  & > .blockquote
    position relative

    margin $space-normal $space-zero

    // Children

    & > .icon
      opacity 0.6

      position absolute

      color var(--quote-icon-color)

      // States

      &.opening
        top 0
        left 0

        transform translate(-100%, '-%s' % $rspace-normal)

      &.closing
        bottom 0
        right 0

        transform translate(100%, '-%s' % $rspace-normal)

  & > .cite
    text-align right

    margin $space-normal $space-zero

  // States

  &.analected
    height 100%
