@import "../assets/tokens/tokens.styl"

@import "../styles/brands.styl"
@import "../styles/list.styl"
@import "../styles/media.styl"

.vocab.trail
  // Color palette

  --trail-primary $color-black

  &.inverted
    --trail-primary $color-white

  brands('--trail-primary')

  --trail-secondary $color-gray

  &.inverted
    --trail-secondary $color-light-slate-gray

  --trail-tertiary $color-black

  &.inverted
    --trail-tertiary $color-white

  // Children

  & > .crumbs
    bland-list()

    display flex

    +phone-only()
      flex-direction column

    +tablet-portrait-up()
      flex-direction row
      align-items center

    width 100%

