@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/colors.styl"

p,
.vocab.paragraph
  color inherit
  colors('color')

  margin $space-zero $space-zero $space-large $space-zero

  &:last-of-type
    margin-bottom $space-zero

  line-height 1.5 // most popular

  &.sparse
    line-height 1.618 // golden ratio

  &.dense
    line-height 1.2 // minimum comfortable for reading

  &.inverted
    color $color-tone-white
