@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"
@import "~@/styles/brands.styl"
@import "~@/styles/indications.styl"

.vocab.paragraph
  // Color
  colors('--paragraph-color')
  brands('--paragraph-color')
  indications('--paragraph-color')

  // Line height

  // Average
  --paragraph-line-height 1.409

  &.sparse-packed
    // Golden ratio
    --paragraph-line-height 1.618

  &.dense-packed
    // Minimum readable
    --paragraph-line-height 1.2

  // Rules

  color var(--paragraph-color)
  line-height var(--paragraph-line-height)

  margin $space-zero $space-zero $space-large $space-zero

  &:last-of-type
    margin-bottom $space-zero
