@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/colors.styl"
@import "~@/styles/font-reset.styl"
@import "~@/styles/list.styl"
@import "~@/styles/media.styl"

.vocab.header
  // Color palette

  --header-primary $color-tone-near-black

  colors('--header-primary')

  --header-secondary $color-tone-white

  // Color

  --header-background-color var(--header-primary)
  --header-text-color var(--header-secondary)

  // Rules

  color var(--header-text-color)

  background-color var(--header-background-color)
  background-image linear-gradient(
    90deg,
    $color-overlay-black-low,
    transparent 15%,
    transparent 85%,
    $color-overlay-black-low
  )

  // Children

  a
    color inherit
    text-decoration none

  & > .container
    & > .flex
      display flex

      +tablet-landscape-down()
        flex-direction column

      +desktop-up()
        flex-direction row
        align-items center
        justify-content space-between
        flex-wrap wrap

      gap $space-normal

      padding $space-normal $space-zero

      & > #branding-section

        // To vertically align branding content with button
        display flex
        flex-direction row
        align-items center

        & > #branding-content
          +phone-only()
            margin-right auto

          +tablets-only()
            // To horizontally justify logo in the middle
            display flex
            flex-direction row
            justify-content center
            margin auto

          font-size $size-huge
          font-weight $weight-bold

          & > .homelink
            // To vertically align parts of the branding with each other
            display flex
            flex-direction row
            align-items center

            gap $space-small

            & > .brand-imagery
              font-reset()

        & > #hamburger
          +tablet-portrait-up()
            display none

          +phone-only()
            --button-border-color $color-tone-white

            -webkit-tap-highlight-color rgba(0, 0, 0, 0)

            .icon
              transform scale(0)

              transition-property transform
              transition-duration $duration-shortest

              &.active
                transform scale(1)

      & > #content-section
        text-align center

        +phone-only()
          &.collapsed
            max-height 0
            margin 0

          &:not(.collapsed)
            max-height var(--header-content-expanded-height)
            margin $rspace-small $space-zero

          width 100%

          overflow hidden

          transition-property max-height, margin
          transition-duration $duration-shortest
