@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/media.styl"
@import "~@/styles/list.styl"

header
  color $color-tone-white
  background linear-gradient(
          90deg,
          $color-orange,
          $color-orange-light,
          $color-orange
  )

.flex
  width 100%

  display flex
  flex-direction row
  flex-wrap wrap
  align-items center

  padding $rspace-large $space-zero

.section
  padding $space-zero $space-normal

/deep/ #branding
  flex-grow 1

  display flex
  flex-direction row
  align-items center

  .wordmark
    width 15rem

  .lettermark
    width 3rem
    margin-right $space-normal

  .name
    font-size $size-huge
    font-weight $weight-bold

/deep/ #navigation
  flex-grow 0

  transition 0.25s max-height

  ul
    li
      &:hover
        color: white
        background-color rgba(0, 0, 0, 0.1)

  +phone-only()
    width 100%
    text-align center

    max-height 0
    overflow hidden

    ul
      bland-list()

      li
        padding $space-normal
        border-bottom 1px solid @color

        &:last-of-type
          border none

  +tablet-portrait-up()
    ul
      piped-list()

#hamburger
  flex-grow 0

  +tablet-portrait-up()
    display none

/deep/ a
  color inherit
  text-decoration none

  font-size $size-big
  font-weight $weight-bold
