@import "~@/assets/tokens/tokens.styl"
@import "~@/styles/media.styl"
@import "~@/styles/list.styl"
@import "~@/styles/colors.styl"

.vocab.header
  color white

  background-color $color-orange
  colors('background-color')

  background-image linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.15) 0%,
          rgba(0, 0, 0, 0) 25%,
          rgba(0, 0, 0, 0) 75%,
          rgba(0, 0, 0, 0.15) 100%
  )

  .flex
    display flex

    +tablet-portrait-down()
      flex-direction column
      align-items center

      padding $space-normal $space-normal

    +tablet-landscape-up()
      flex-direction row
      flex-wrap wrap
      align-items center
      justify-content space-between

      padding $space-normal $space-zero

    #branding
      flex-grow 0

      font-size $size-huge
      font-weight $weight-bold

      margin $rspace-small $space-zero

      .homelink
        color inherit

        display flex
        flex-direction row
        align-items center

        text-decoration none

      .wordmark
        width 10rem

      .lettermark
        width 2.5rem
        margin-right $rspace-normal

    #hamburger
      +phone-only()
        -webkit-tap-highlight-color rgba(0, 0, 0, 0)

        .icon
          transform scale(0)
          transition 0.25s transform

          &.active
            transform scale(1)

      +tablet-portrait-up()
        display none

    #content
      +tablet-portrait-up()
        display flex
        flex-direction row
        align-items center

      +phone-only()
        text-align center

        width 100%

        max-height 0
        overflow hidden

        transition max-height 0.25s, margin 0.25s
