// @import "bulma/sass/layout/footer.sass";

.footer {
	display: flex;
	flex-direction: column;
	row-gap: $space-bigger;
	background-color: $color-black;
	color: $white;
	padding: $space-large $space-small;

	a {
		color: $color-dark-turquoise;

		&:hover {
			color: $color-dark-turquoise;
			text-decoration: underline;
		}

		&.social:hover {
			text-decoration: none;
		}
	}

	.footer-navigation {
		.menu {
			li {
				display: block;

				&:first-child {
					.menu-item {
						padding-left: 0;
					}
				}

				.menu-item {
					display: block;
					// padding: $space-normal 0 $space-normal;
					font-size: $font-size-h4;
					font-style: normal;
					font-weight: bold;
				}
			}
		}
	}

	.subscription {
		h5 {
			margin-bottom: $space-normal;
			color: $color-white;
		}

		.newsletter {
			display: flex;
			width: 70%;

			.input {
				background-color: transparent;
				border-color: $color-dark-gray;
				color: $color-dark-gray;

				&::placeholder {
					color: $color-dark-gray;
					opacity: 0.8;
				}
			}

			.button {
				margin-left: -1rem;
				border: none;
				background-color: $color-dark-gray;
				color: $color-white;

				&:hover {
					background-color: lighten($color-dark-gray, 10);
				}
			}
		}
	}

	.donate-section {
		h5 {
			color: $color-white;
		}

		.donate {
			margin-top: $space-big;
			color: $color-black;

			svg {
				margin-right: 1rem;
				width: 2rem;
				height: 2rem;
			}
		}
	}

	.footer-logo {
		.main-logo {
			display: block;

			svg {
				width: 13rem;
			}
		}

		address {
			font-style: normal;
		}
	}

	@include tablet() {
		padding: $space-bigger;
		display: grid;
		grid-template-areas:
			'nav nav nav'
			'logo sub sub'
			'logo donate donate'
			'. attr attr';
		grid-template-columns: auto 1fr 1fr;
		grid-template-rows: repeat(4, auto);

		.footer-navigation {
			grid-area: nav;
			.menu {
				display: flex;
				justify-content: space-between;
			}
		}

		.subscription {
			grid-area: sub;
		}

		.footer-logo {
			grid-area: logo;
		}

		.donate-section {
			grid-area: donate;
		}

		.attribution {
			grid-area: attr;
		}
	}

	@include desktop() {
		padding: $space-bigger $space-xl;
		display: grid;
		grid-template-areas:
			'nav nav nav . . '
			'logo sub sub donate donate'
			'logo attr attr attr . ';
		grid-template-columns: auto 1fr 1fr 1fr 1fr;
		grid-template-rows: repeat(3, auto);
	}

	@include fullhd() {
		display: grid;
		grid-template-areas:
			'logo nav nav nav . '
			'logo sub sub donate donate'
			'logo attr attr . . ';
		grid-template-columns: auto 1fr 1fr 1fr 1fr;
		grid-template-rows: repeat(3, auto);
	}
}
