$navbar-item-color: $color-dark-gray;
$navbar-item-hover-color: $color-dark-slate-gray;
$navbar-item-active-color: $color-dark-slate-gray;

$navbar-item-hover-background-color: transparent;

$navbar-dropdown-border-top: none;
$navbar-dropdown-radius: 0;
$navbar-breakpoint : 768px;

@import "bulma/sass/components/navbar.sass";


// Header navigation layout
.navbar {
  @include tablet() {
    display: grid;
    grid-template-areas:  ". ."
                          "logo top"
                          "main main";
    grid-template-rows: 1fr 2fr auto;
    grid-template-columns: auto 1fr;
  }

  @include desktop() {
    display: grid;
    grid-template-areas: "top top ."
                       "logo  main main";
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 3fr 1fr;
  }
}

.top-nav {
  grid-area: top;
  display: flex;
  align-items: center;

  .locale {
    margin-right: $space-normal;
  }
}

.logo {
  grid-area: logo;
}

.main-nav {
  grid-area: main;
  .navbar-end {
    margin-top: $space-normal;
    flex-wrap: wrap;
  }
}


// Header navigation main styling
.navbar {
  padding: $space-bigger $space-normal;

  .logo {
    height: 46px;
  }

  .navbar-burger span {
    height: 2px;
  }

  .navbar-burger {
    width: 3.25rem;
  }

  .navbar-link {
    text-decoration: none;
  }

  .donate {
    font-family: $family-source-sans-pro;
    text-transform: none;
    color: $color-tomato;
    background-color: $color-light-error;
    &:hover {
      color: $color-white;
      background-color: $color-tomato;
    }
  }  

  @include desktop() {
    padding: $space-bigger;
  }

  .navbar-end {
    .navbar-item {
      font-family: $family-roboto-condensed;
      font-size: $font-size-h5;
      font-weight: bold;
      text-transform: uppercase;
      line-height:  1.5;
      letter-spacing: 2%;

      .icon {
        margin-left: $space-small;
      }
    }

    & > .navbar-item {
      margin-left: $space-small;
    }

    & .navbar-item:hover {
      text-decoration: none;
      color: $color-dark-slate-gray;
    }
    @include desktop-only() {
      .navbar-item {
        margin-left: 0;
        font-size: $font-size-h6;
      }
    }
    @include tablet-only() {
      justify-content: flex-start;
    }
  }

  &.is-compact {
    @extend .padding-vertical-normal;
    @extend .padding-horizontal-bigger;

    height: 72px;
    display: flex;

    .logo {
      height: 36px;
    }

    .navbar-end {
      .navbar-item {
        font-family: $family-source-sans-pro;
        font-size: $font-size-body-normal;
        font-weight: 600;
        text-transform: capitalize;
      }

      & > .navbar-item {
        @extend .padding-horizontal-smaller;
        margin-left: $space-normal;
      }
    }

    @include mobile() {
      .navbar-end {
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        margin-left: auto;
      }

      .navbar-item {
        display: flex;
        align-items: center;
      }
    }

    @include tablet() {
      .navbar-end {
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        margin-left: auto;
      }

      .navbar-item {
        display: flex;
        align-items: center;
      }
    }
  }
}
