$navbar-item-color: $color-white;
$navbar-item-hover-color: $grey-dark;
$navbar-item-active-color: $color-dark-slate-gray;

$navbar-item-hover-background-color: transparent;

$navbar-dropdown-border-top: none;
$navbar-dropdown-radius: 0;
$navbar-breakpoint: $tablet;

@import "bulma/sass/components/navbar.sass";

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 59px;
  grid-template-areas: "brand";
  .navbar-brand {
    grid-area: brand;
  }
  .navbar-start {
    grid-area: start;
    display: none;
  }
  .navbar-menu {
    grid-area: menu;
    display: none;
  }
  &.is-active {
    @include mobile() {
      grid-template-rows: 59px 70px auto;
      grid-template-areas: "brand" "start" "menu";
    }
  }
  @include tablet() {
    width: $tablet;
    grid-template-columns: auto 1fr;
    grid-template-rows: 4.875rem 5.25rem;
    grid-template-areas: "brand start"
                            "menu menu";
    .navbar-menu {
      display: flex;
      & .tabs-nav {
        display: none;
      }
      & .main-nav {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        @include desktop() {
          justify-content: flex-end;
        }
      }
    }
    .navbar-start {
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      width: 100%;
      align-items: flex-end;

    & > * {
     margin-left: 1rem;
   }
   }
  }
  @include desktop() {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "brand start"
                            "brand menu";
    width: $desktop;
    .navbar-start {
      align-items: flex-start;

      .donate, .locale {
        margin-top: $space-small;
      }
    }
  }
  @include widescreen() {
    width: $widescreen;
  }
}

.navbar.is-active {
  @include mobile(){
    .navbar-start, .navbar-menu {
      display: flex;
      padding-top: 0;
      background-color: transparent;
      color: white;
    }
    .donate {
      display: none;
    }
    .navbar-start {
      grid-area: start;
      align-items: center;
      padding-left: 1.375rem;
    }
    .main-nav {
      display: none;
    }
    .tabs-nav {
      width: 100%;
      .tabs a {
        border-bottom-color: white;
      }
    }
  }
}

.navbar .navbar-brand {
  color: black;
  padding: 1.0625rem 1.375rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: brand;
  & > a {
    display: flex;
  }
  .logo {
    height: 1.5875rem;
    svg {
      height: 100%;
      width: auto;
    }
  }
  .navbar-burger {
    position: absolute;
    top: 0;
    right: 0;
    color: $color-gray;
    border: none;
    background-color: transparent;
    height: 59px;
    width: 59px;
    appearance: none;
    outline: none;
    &:hover, &:active, &:focus, &.is-active {
      border: none;
      outline: none;
      background-color: $color-lighter-gray;
    }
    & span {
      background-color: currentColor;
      height: 2px;
    }

    @include tablet(){
      display: none;
    }

  }

  @include tablet() {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.5rem;
    .logo {
      height: 2.875rem;
      svg {
        height: 100%;
        width: auto;
      }
    }
  }
  @include desktop() {
    padding: 2.3125rem 0;
  }
}

.navbar.is-active {
  background-color: black;
  .navbar-brand .logo {
    color: white;
  }
  .navbar-brand {
    .navbar-burger {
      &:focus, &:active, &:hover {
        background-color: transparent;
      }
      &.is-active {
        background-color: transparent;
        top: -$space-normal;
        color: $yellow;
      }
    }
  }
  @include tablet() {
    background-color: white;
    .navbar-brand .logo {
      color: black;
    }
  }
}

.main-nav {
  .navbar-item, .navbar-link {
    color: $color-dark-gray;
  }
}

.main-nav {
  .navbar-item, .navbar-item .navbar-link {
    font-family: $family-heading;
    font-size: 1.0625rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }
  .navbar-item svg {
    width: 0.9375rem;
    height: 0.9375rem;
    margin-left: 0.5rem;
  }
  .navbar-dropdown .navbar-item {
    padding-left: 1rem;
    &:hover, &:active, &:focus {
      background-color: transparent;
    }
  }
}

.main-nav > .navbar-item, .main-nav > .navbar-link {
  margin-right: 2rem;
  margin-left: 0;
  @include desktop() {
    margin-right: 0;
    margin-left: 2rem;
  }
}
// Mobile
.tabs-nav {
  padding-top: 1rem;
  .navbar-item, .navbar-item .navbar-link {
    font-family: $family-heading;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }
  .navbar-item .navbar-link {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    width: 100%;
  }
  .navbar-item svg {
    width: 0.9375rem;
    height: 0.9375rem;
    margin-left: 0.5rem;
  }
  .navbar-item .navbar-dropdown {
      display: none;
  }
  .navbar-item.has-dropdown.is-active {
    svg {
      transform: rotate(180deg);
    }
    .navbar-dropdown {
      display: flex;
      flex-direction: column;
    }
    .navbar-dropdown .navbar-item {
      font-family: $family-body;
      font-weight: normal;
      text-transform: none;
      font-size: 1rem;
      &:hover, &:active, &:focus {
        background-color: transparent;
      }
    }
  }
  .tabs {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    justify-content: flex-start;
    button {
      margin-left: 1.3125rem;
      font-size: $font-size-caption;
      color: rgba(255, 255, 255, 0.6);
      padding-bottom: 2rem;
      border-width: 0;
      border-radius: 0;
      border-bottom: 4px solid transparent;
      &:hover, &:active, &:focus {
        text-decoration: none;
        color: white;
      }
      &.is-active {
        color: white;
        border-bottom-color: white;
      }
    }
  }
}

