.tooltip {
  position: relative;
  display: inline-block;

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltiptext {
    padding-top: $space-smaller;
    padding-bottom: $space-smaller;
    padding-right: $space-small;
    padding-left: $space-small;
    color: $dark-slate-gray;
    background-color: $color-white;
    visibility: hidden;
    text-align: center;
    border-radius: 0.25rem;
    border: 0.125rem solid $color-light-gray;
    position: absolute;
    bottom: 125%;
    left: 100%;
    margin-left: -3.75rem;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .top {

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      top: 100%;
      left: 10%;
      margin-left: -0.3125rem;
    }

    &::before {
      border-top: 0.55rem solid $color-light-gray;
    }

    &::after {
      border-top: 0.5rem solid white;
      margin-top: -0.125rem;
      z-index: 1;
    }
  }

  .bottom {
    top: 125%;
    height: 150%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      top: 0%;
      left: 10%;
      margin-left: -0.3125rem;
    }

    &::before {
      border-bottom: 0.55rem solid $color-light-gray;
      top: -30%;
    }

    &::after {
      border-bottom: 0.5rem solid white;
      margin-bottom: 0.125rem;
      top: -20%;
      z-index: 1;
    }
  }

  .right {
    top: 0;
    left: 175%;
    height: 150%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-bottom: 0.5rem solid transparent;
      border-top: 0.5rem solid transparent;
      top: 10%;
      left: 0%;
      margin-left: -0.3125rem;
    }

    &::before {
      border-right: 0.55rem solid $color-light-gray;
      left: -5%;
    }

    &::after {
      border-right: 0.5rem solid white;
      margin-right: 0.125rem;
      left: -2%;
      z-index: 1;
    }
  }

  .left {
    top: 0;
    left: -50%;
    height: 150%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-bottom: 0.5rem solid transparent;
      border-top: 0.5rem solid transparent;
      top: 10%;
      right: 0%;
      margin-left: -0.3125rem;
    }

    &::before {
      border-left: 0.55rem solid $color-light-gray;
      right: -10%;
    }

    &::after {
      border-left: 0.5rem solid white;
      margin-left: 0.125rem;
      right: -7%;
      z-index: 1;
    }
  }
}
