@import "~@/assets/tokens/tokens.styl"

.font
  border 1px solid $color-tone-grey-lighter
  border-radius $radius-normal
  box-shadow $shadow-subtle $color-tone-near-white
  overflow hidden

.demo
  padding $rspace-normal

  border-bottom 1px solid $color-tone-grey-lighter

.description
  font-size $size-small

  padding $space-normal
