@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/media.styl"

.vocab.container
  // Width

  +phone-only()
    --container-width 'calc(100% - 2 * %s)' % $space-normal

  +tablet-portrait-only()
    --container-width 'calc(600px - 2 * %s)' % $space-normal

  +tablet-landscape-only()
    --container-width 'calc(900px - 2 * %s)' % $space-normal

  +desktop-only()
    --container-width 'calc(1200px - 2 * %s - 17px)' % $space-normal

  +big-desktop-up()
    --container-width 'calc(1800px - 2 * %s - 17px)' % $space-normal

  // Rules

  width var(--container-width)

  margin auto
