@include describe("Font Face") {
  @include it("sets font family, style, weight, source and unicode range") {
    @include assert {
      @include output {
        @include contents("Helvetica Neue", "HelveticaNeue-Regular", 400);
      }

      @include expect {
        font-family: "Helvetica Neue";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('../fonts/HelveticaNeue-Regular.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Regular.woff') format('woff'),
        url('../fonts/HelveticaNeue-Regular.otf') format('opentype');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
    }
  }
}
