@import "~@/assets/tokens/tokens.styl"

.index,
.index--easter-egg
  height 100%

  display flex
  flex-direction column
  align-items center
  justify-content center

.index
  background radial-gradient($color-orange-light, $color-orange)

.index--easter-egg
  background $color-green


