@import "~@/assets/tokens/tokens.styl"

@import "~@/styles/page.styl"

.vocab.index
  page()

  main
    background radial-gradient($color-tone-white, $color-tone-near-white)

    min-height 100vh

  footer.vocab.footer
    .logo
      font-size $size-big // Scales logos up

    .panel
      height 100%

      display flex
      flex-direction column
      justify-content space-between

      .vocab.locale
        margin-top $space-normal
